@mixin css3-animation($atribute, $params) {
  #{$atribute}: #{$params};
  -webkit-#{$atribute}: #{$params};
  -khtml-#{$atribute}: #{$params};
  -moz-#{$atribute}: #{$params};
  -ms-#{$atribute}: #{$params};
  -o-#{$atribute}: #{$params};
}

@mixin css3-border-radius($attr, $value){
  #{$attr}: #{$value};
  -webkit-#{$attr}: #{$value};
  -moz-#{$attr}: #{$value};
}

@mixin css3-flex($attr, $value){
  #{$attr}: #{$value};
  -ms-#{$attr}: #{$value};
  -webkit-#{$attr}: #{$value};
}

@mixin css-position($pos, $top, $right, $bottom, $left) {
  position: $pos;
  @if($top != ''){
    top: $top
  }
  @if($right != ''){
    right: $right
  }
  @if($bottom != ''){
    bottom: $bottom
  }
  @if($left != ''){
    left: $left
  }
}
@mixin css-square($size, $radius: 0) {
  width: $size;
  height: $size;

  @if $radius != 0 {
    @include css3-border-radius(border-radius,$radius);
  }
}
@mixin css-bordered($width,$type,$color) {
  border: $width $type $color;
}