$path-image: '../images/front/';
$color-gray: #555252;
$color-orange: #f37121;
$color-white: #fff;
$color-light-gray: #e9f0fd;
/*
* Color text
*/
$color-text-title: $color-gray;
$color-text-gray: $color-gray;
$color-text-orange: $color-orange;
/*
* Color Background
*/
$color-bg-icon: $color-orange;
$color-bg-btn: $color-orange;
$color-bg-partner: $color-light-gray;
$color-bg-after: $color-orange;
/*
* Color Border
*/
$color-border-item: $color-orange;