@font-face {
    font-family: 'Uhk-Face';
    src: url('../fonts/Utm-Face/UtmFace.eot');
    src: url('../fonts/Utm-Face/UtmFace.eot') format('embedded-opentype'),
         url('../fonts/Utm-Face/UtmFace.woff2') format('woff2'),
         url('../fonts/Utm-Face/UtmFace.woff') format('woff'),
         url('../fonts/Utm-Face/UtmFace.ttf') format('truetype'),
         url('../fonts/Utm-Face/UtmFace.svg#UtmFace') format('svg');
}
@font-face {
    font-family: 'Uhk-Eremitage';
    src: url('../fonts/Utm-Eremitage/UtmEremitage.eot');
    src: url('../fonts/Utm-Eremitage/UtmEremitage.eot') format('embedded-opentype'),
         url('../fonts/Utm-Eremitage/UtmEremitage.woff2') format('woff2'),
         url('../fonts/Utm-Eremitage/UtmEremitage.woff') format('woff'),
         url('../fonts/Utm-Eremitage/UtmEremitage.ttf') format('truetype'),
         url('../fonts/Utm-Eremitage/UtmEremitage.svg#UtmEremitage') format('svg');
}

/*----- reset -----*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, address, em, img, strong, dl, dt, dd, ul, li, fieldset, form, label, legend {border: 0; font-family: inherit; font-size: 100%; margin: 0; outline: 0; padding: 0; }
:focus {outline: 0; }
ol,ul {list-style: none; }
img {width: auto\9; height: auto; max-width: 100%; vertical-align: middle; -ms-interpolation-mode: bicubic; }
table {border-collapse: collapse; border-spacing: 0; width: 100%; }
html,body {height: 100%; } 
p#billing_company_field {
    display: none;
}

input#billing_postcode {
    display: none;
}

p#billing_postcode_field {
    display: none;
}

label[for="billing_country"] {
    display: none!important;
}

/*span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus {*/
/*    display: none;*/
/*}*/
p#billing_postcode_field {
    display: none!important;
}
/*span.select2.select2-container{*/
/*    display: none;*/
/*}*/
/*----- common -----*/
body {background-color: #fff; color: #000; font: normal normal 100% Arial, Helvetica, sans-serif; line-height: 1.5em; font-size: .75em; }
h1,h2,h3, h4, h5, h6 {line-height: normal; font-weight: normal; }
input,select,textarea {color: #38444f; font: normal normal 1em Arial, Helvetica, sans-serif; }
input:focus,select:focus,textarea:focus,a:link,a:visited,a:hover,a:focus {outline: none; } a:link,a:visited,a:hover,a:focus {text-decoration: none; }
a:link,a:visited {color: #000; }
a:hover,a:focus {color: #43f812; }
.clear {clear: both; }
ul.menu>li:first-child a {
    padding: 25px;
}
a{
-webkit-transition: color .35s ease-in-out,background .35s ease-in-out,border .35s ease-in-out;
-moz-transition: color .35s ease-in-out,background .35s ease-in-out,border .35s ease-in-out;
-o-transition: color .35s ease-in-out,background .35s ease-in-out,border .35s ease-in-out;
transition: color .35s ease-in-out,background .35s ease-in-out,border .35s ease-in-out;
}
.hk-ic{background: url(../images/front/sprite.png) no-repeat;}
.hk-logo img {
    height: 70px!important;
}
.vua-xem {
    margin-top:  20px;
}
/*===================================================================*/
.header-top{background: #2d3f4b; }
ul.hk-social{overflow: hidden; margin: 0 -5px;}
ul.hk-social li{float: left; padding: 0 5px;}
ul.hk-social li a{display: block; text-indent: -9999px; width: 18px; height: 18px; margin: 1px 0;}
ul.hk-social li a.hk-f{background-position: 0 0;}
ul.hk-social li a.hk-l{background-position: -28px 0;}
ul.hk-social li a.hk-p{background-position: -56px 0;}
ul.hk-social li a.hk-t{background-position: -84px 0;}
.hd-top-lf{padding: 10px 0;}
.hd-top-lf p{line-height: 20px; float: left; margin-right: 20px; font: 400 13px/20px 'Roboto', sans-serif; color: #eaeaea;}
.hd-top-lf ul.hk-social {float: left;}
.hd-top-lf p span{text-transform: uppercase; font: 500 13px/20px 'Roboto', sans-serif; color: #0fd7f3;}

.hd-contact{padding: 10px 0; border-left: 1px solid #1d5770; float: left;}
.hd-contact span{font: 400 13px/20px 'Roboto', sans-serif; color: #eaeaea; padding: 0 20px; display: inline-block; position: relative;}
.hd-contact span i.hk-a{display: inline-block; background-position: -112px 0; width: 15px; height: 18px; margin-right: 7px; vertical-align: middle; margin-top: -2px;}
.hd-contact span i.hk-p{display: inline-block; background-position: -137px 0; width: 16px; height: 16px; margin-right: 7px; vertical-align: middle; margin-top: -2px;}

.hk-language{float: right;}
#polyglotLanguageSwitcher{width: 135px; background: #1d5770; z-index: 101;}
#polyglotLanguageSwitcher a.current:link, #polyglotLanguageSwitcher a.current:visited,
#polyglotLanguageSwitcher a:hover, 
#polyglotLanguageSwitcher a.current:active{border: none; color: #fff;}
#polyglotLanguageSwitcher a{width: 100%; font: 400 13px/20px 'Roboto', sans-serif; color: #eaeaea; padding: 10px 10px 10px 40px; background-position: 15px center;}
#polyglotLanguageSwitcher ul.dropdown{width: 100%; background: #1d5770; top: 40px; border: none;}
#polyglotLanguageSwitcher ul.dropdown li{border-top: 1px solid #257192;}
#polyglotLanguageSwitcher span.trigger{background: url(../images/front/sprite.png) no-repeat 0 -28px; width: 8px; height: 4px; top: 50%; right: 10px; margin-top: -1px;}

.header-bot{position: relative;background: #fff;z-index: 999;}
.header-bot:after{content: ''; display: block; width: 100%; height: 5px; background: rgba(255, 255, 255, .5); position: absolute; bottom: -5px; left: 0; z-index: 80;}
.hk-logo{padding: 9px 0;}

ul.menu li{float: left;position: relative;z-index: 100;margin-left: 1px;}
ul.menu li a{font: 700 14px/20px 'Open Sans', sans-serif; color: #31a8f7; text-transform: uppercase; position: relative; padding: 35px 19px; display: block; overflow: hidden;}
ul.menu li a:after{content: ''; display: block; width: 30px; height: 1px; background: #fff; position: absolute; left: 50%; margin-left: -15px; bottom: -100px; display: block; -webkit-transition: all .8s ease-in-out; -moz-transition: all .8s ease-in-out; -ms-transition: all .8s ease-in-out; -o-transition: all .8s ease-in-out; transition: all .8s ease-in-out; }
ul.menu li:hover a,
ul.menu li.active a, ul.menu li.current-menu-item a{background: #2d9bf3; color: #fff;}
ul.menu li.active a:after,
ul.menu li:hover a:after,
ul.menu li.current-menu-item a:after{bottom: 30px;}
.hk-menu ul.menu li ul{position: absolute;top: 0;right: 0;z-index: 99999!important;width: 200px;background: #0d62a7;padding: 10px 0;border-radius: 0 0 4px 4px;box-shadow: -4px 1px 4px rgba(0, 0, 0, .2);opacity: 0;visibility: hidden;transition: all 300ms linear;-o-transition: all 300ms linear;-ms-transition: all 300ms linear;-moz-transition: all 300ms linear;-webkit-transition: all 300ms linear;}
.hk-menu ul.menu li:hover > ul{display: block;opacity: 1;visibility: visible;top: 90px;}
.hk-menu ul.menu li ul li{margin: 0; padding: 0; float: none;}
.hk-menu ul.menu li ul li a{font: 400 14px/20px 'Open Sans', sans-serif!important;text-transform: initial;padding: 10px 15px!important;color: #fff;background: transparent;margin: 0;}
.hk-menu ul.menu li ul li a:after{display: none;}
.hk-menu ul.menu li ul li a:hover{background: #185484;}

a.menu-mobile{display: none; width: 32px; height: 20px; background: url(../images/front/ic-menu.png) no-repeat; text-indent: -9999px; margin: 35px 0;}
.mm-menu{background: #1d5770;}
.mm-listview>li>a, .mm-listview>li>span{font: 600 14px/20px 'Open Sans', sans-serif; color: #fff; text-transform: uppercase;}
.mm-menu .mm-navbar a, 
.mm-menu .mm-navbar>*{font: 600 18px/20px 'Open Sans', sans-serif; color: #eb7629; text-transform: uppercase;}
.mm-navbar,
.mm-listview>li, 
.mm-listview>li .mm-next, 
.mm-listview>li .mm-next:before, 
.mm-listview>li:after,
.mm-listview>li:not(.mm-divider):after{border-color: #247496;}
.mm-listview>li:not(.mm-divider):after{left: 0; z-index: 3;}
.mm-menu .mm-btn:after, 
.mm-menu .mm-btn:before,
.mm-menu .mm-listview>li .mm-arrow:after, 
.mm-menu .mm-listview>li .mm-next:after{border-color: #fff;}
.mm-menu .mm-listview>li.mm-selected>a, 
.mm-menu .mm-listview>li.mm-selected>a:not(.mm-next), 
.mm-menu .mm-listview>li.mm-selected>span {background: rgb(14, 68, 90); border-radius: 0; color: #fff;}
.mm-menu .mm-listview>li a:not(.mm-next) {-webkit-tap-highlight-color: rgb(14, 68, 90); tap-highlight-color: rgb(14, 68, 90); color: #fff;}
#mm-1 ul.mm-listview>li>a{text-transform: capitalize;} 
/*==========================================================================*/
#footer{background: url(../images/front/bg-footer.png) no-repeat; background-size: cover;}
.footer-bot{padding: 15px 0; border-top: 1px solid #659bda;}
.footer-bot p{font: 400 13px/20px 'Roboto', sans-serif; color: #fff;}
.footer-bot p a{color: #fff;}
.footer-bot p a:hover{color: #fcaf17;}

.footer-top{padding: 60px 0 15px;}
.footer-top .col-sm-12,
.footer-top .col-sm-6{margin-bottom: 20px;}
.footer-top h3{font: 400 23px/normal 'Montserrat', sans-serif; color: #fff; text-transform: uppercase; margin-bottom: 20px;}
.footer-top span{display: block; font: 400 14px/20px 'Roboto', sans-serif; color: #fff; margin-bottom: 10px;}
ul.ft-lst li{ margin-bottom: 10px;}
ul.ft-lst li a{display: block; font: 400 14px/20px 'Roboto', sans-serif; color: #fff; position: relative; padding-left: 15px;}
ul.ft-lst li a:before{position: absolute; left: 0; top: 7px; display: inline-block; width: 4px; height: 7px; background: url(../images/front/sprite.png) no-repeat -152px -49px; vertical-align: middle; content: ''; margin-right: 15px; margin-top: -2px; -webkit-transition: all .35s ease-out; -moz-transition: all .35s ease-out; -ms-transition: all .35s ease-out; -o-transition: all .35s ease-out; transition: all .35s ease-out; }
ul.ft-lst li a:hover:before{margin-right: 10px;}
.ft-sp{padding-left: 50px;}

ul.ft-social{overflow: hidden; margin: 0 -5px;}
ul.ft-social li{float: left; padding: 0 5px;}
ul.ft-social li a{display: block; text-indent: -9999px; width: 24px; height: 24px;}
ul.ft-social li a.hk-f{background-position: -70px -87px;}
ul.ft-social li a.hk-t{background-position: -104px -87px;}
ul.ft-social li a.hk-g{background-position: -138px -87px;}
ul.ft-social li a.hk-l{background-position: -172px -87px;}
/*==========================================================================*/

.top-content{background: url(../images/front/bg-slider.jpg) no-repeat;background-size: cover;position: relative;}
.bx-shadow{border: 5px solid #fff; background: #0086f2; box-shadow: 0px 2px 4px rgba(0, 0, 0, .48);}
.hk-slider{width: calc(100% - 330px); position: relative;}
.hk-slider .ic-relax{position: absolute; left: -40px; bottom: -60px; z-index: 20;}
.rslides{position: relative; list-style: none; overflow: hidden; width: 100%; padding: 0; margin: 0; }
.rslides li {-webkit-backface-visibility: hidden; position: absolute; display: none; width: 100%; left: 0; top: 0; }
.rslides li:first-child {position: relative; display: block; float: left; }
.rslides img {display: block; height: auto; float: left; width: 100%; border: 0; }
.rslides_tabs{position: absolute; left: 0; text-align: center; bottom: 15px; z-index: 10; width: 100%;}
.rslides_tabs li{display: inline-block; margin: 0 3px;}
.rslides_tabs li a{display: block; text-indent: -9999px; width: 16px; height: 16px; background: url(../images/front/sprite.png) no-repeat -91px -121px; -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none; }
.rslides_tabs li.rslides_here a{background-position: -70px -121px;}
.hk-search{width: 300px; padding: 30px 15px; text-align: center;}
.hk-search h3{font: 400 23px/normal 'Uhk-Eremitage', sans-serif; color: #fff; text-transform: uppercase; margin-bottom: 25px;}
.hk-search h3:after{display: block; content: ''; width: 50px; height: 2px; background: #fff; margin: 8px auto 0;}
.hk-search p{font: 400 15px/20px 'Roboto', sans-serif; color: #fff; margin-bottom: 25px;}
.hk-search ul{margin: 0 -5px;}
.hk-search ul li{padding: 0 5px; margin-bottom: 10px;}
.hk-search ul input.form-control{height: 32px; border-radius: 0; box-shadow: 0 0 0 transparent !important; border: none; font: 400 12px/20px 'Roboto', sans-serif; color: #7a7a7a; background: #fff url(../images/front/ic-search.png) no-repeat calc(100% - 15px) center; padding: 6px 25px 6px 12px;}
.hk-search ::-webkit-input-placeholder{color: #7a7a7a;}
.hk-search :-moz-placeholder{color: #7a7a7a;}
.hk-search ::-moz-placeholder{color: #7a7a7a;}
.hk-search :-ms-input-placeholder{color: #7a7a7a;}
.hk-search ul label{position: relative; cursor: pointer; width: 100%;}
.hk-search ul label:after {content:''; right: 7px; top:50%; margin-top: -2px; position:absolute; pointer-events:none; width: 7px; height: 4px; background: url(../images/front/sprite.png) no-repeat -39px -28px; }
.hk-search ul label select.form-control {-webkit-appearance:none; -moz-appearance:none; appearance:none; cursor:pointer; height: 32px; border-radius: 0; box-shadow: 0 0 0 transparent !important; border: none; font: 400 13px/20px 'Roboto', sans-serif; color: #2d9bf3;}
.hk-search button{display: block; width: 155px; border: none; padding: 7px 0; text-align: center; background: #0059a0; border-radius: 20px; font: 500 13px/20px 'Roboto', sans-serif; color: #fff; text-transform: uppercase; margin: 0 auto;}
.hk-search button i{width: 11px; height: 11px; display: inline-block; background-position: -57px -28px; vertical-align: middle; margin-right: 7px; margin-top: -2px;}
.sr-contact{border: 1px dashed #fff; margin: 30px 10px 0; padding: 10px;}
.sr-contact span{display: block; font: 400 15px/20px 'Roboto', sans-serif; color: #fff;}
.sr-contact strong{display: block; font: 500 23px/normal 'Roboto', sans-serif; color: #f00; -webkit-text-stroke: 0px #2581ed; text-shadow: -2px 0px 0 #fff, -1px -1.6px 0 #fff, 1px 2px 0 #fff, -2px 0px 0 #fff, 1px -1.6px 0 #fff, -1px 2px 0 #fff, -2px -1px 0 #fff, 1px 1px 0 #fff, 2px 0px 0 #fff, 2px 1px 0 #fff; }

.hk-introduce{background: #edf9ff; border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5; padding: 35px 0;}
.intro-lf{width: 270px; float: left; padding-top: 65px;}
.intro-lf ul li{text-transform: uppercase; text-align: right; margin-bottom: 10px;}
.intro-lf ul li a{font: 500 14px/20px 'Roboto', sans-serif; color: #4a4a4a; border: 1px solid #e5e5e5; display: block; padding: 14px 20px 14px 40px; background: #fff; position: relative;}
.intro-lf ul li a:hover,
.intro-lf ul li.active a{background: #eb7629; border-color: #eb7629; color: #fff;}
.intro-lf ul li.active a:before{content: ''; display: block; width: 40px; height: 50px; background: #1295ff url(../images/front/ic-check.png) no-repeat center; position: absolute; left: -1px; top: -1px;}

.intro-rg{width: calc(100% - 320px); float: right;}
.txt-intro-lf{width: calc(100% - 250px); float: left; text-align: center;}
.txt-intro-lf h2{font: 400 23px/normal 'Uhk-Face', sans-serif; color: #1295ff; text-transform: uppercase; margin-bottom: 25px;}
.txt-intro-lf h2:after{content: ''; display: block; width: 50px; height: 2px; margin: 10px auto 0; background: #eb7629;}
.txt-intro-lf p{font: 400 15px/20px 'Roboto', sans-serif; color: #555; margin-bottom: 15px;}
.img-intro-rg{width: 230px; float: right; padding-top: 65px;}

.content-md{padding: 50px 0 20px;}
.content-md-lf{width: calc(100% - 300px); float: left;}
.content-md-rg{width: 270px; float: right;}
.hk-news-rg,
.hk-support{border: 1px solid #e5e5e5; background: #fafafa; padding: 10px 0 0; margin-bottom: 30px;}
.hk-news-rg h3,
.hk-support h3{background: #169dca; margin: 0 -1px -1px; font: 600 16px/20px 'Open Sans', sans-serif; color: #fff; text-transform: uppercase; padding: 11px 0 9px; text-align: center;}
.hk-news-rg h3:before,
.hk-support h3:before{content: ''; display: inline-block; width: 15px; height: 15px; background: url(../images/front/sprite.png) no-repeat -97px -28px; margin-right: 15px;}
.hk-news-rg h3:after,
.hk-support h3:after{content: ''; display: inline-block; width: 15px; height: 15px; background: url(../images/front/sprite.png) no-repeat -97px -28px; margin-left: 15px;}
.hk-support ul li{padding: 15px 15px 10px; border-top: 1px solid #e5e5e5; position: relative;}
.hk-support strong{font: 400 14px/20px 'Roboto', sans-serif; color: #f00; text-transform: uppercase; display: block; margin-bottom: 8px;}
.hk-support span{font: 400 14px/20px 'Roboto', sans-serif; color: #555; display: block; margin-bottom: 8px;}
.hk-support span.cl-red{color: #f00; margin-bottom: 0;}
.hk-support .sp-social{overflow: hidden; position: absolute; right: 20px; top: 20px;}
.hk-support .sp-social a{display: inline-block; text-indent: -9999px; height: 16px; margin: 0 4px;}
.hk-support .sp-social a.hk-f{background-position: -40px -49px; width: 9px;}
.hk-support .sp-social a.hk-s{background-position: -58px -49px; width: 16px;}
.hk-support .sp-social a.hk-y{background-position: -80px -49px; width: 14px;}

.hk-news-rg .info-nws{padding: 15px 20px 5px;}
.hk-news-rg .info-nws li{margin-bottom: 15px;}
.hk-news-rg .info-nws .detail{overflow: hidden;}
.hk-news-rg .info-nws a.img{width: 85px; height: 55px; overflow: hidden; float: left;}
.hk-news-rg .info-nws .txt-news{width: calc(100% - 100px); float: right;}
.hk-news-rg .info-nws h4{margin-bottom: 3px;}
.hk-news-rg .info-nws h4 a{font: 400 13px/18px 'Roboto', sans-serif; color: #444;}
.hk-news-rg .info-nws span{font: 400 12px/normal 'Roboto', sans-serif; color: #999;}

.hk-like-box{margin-bottom: 30px;}

.hk-title{border-bottom: 1px solid #e5e5e5; text-transform: uppercase; margin-bottom: 30px;}
.hk-title h2, .hk-title h1{font: 700 23px/normal 'Roboto', sans-serif; color: #1295ff; padding-bottom: 10px; padding-right: 65px; display: inline-block; border-bottom: 2px solid #eb7629; margin-bottom: -1px;}
.hk-title h2:before{width: 30px; height: 28px; display: inline-block; content: ''; vertical-align: middle; background: url(../images/front/sprite.png) no-repeat 0 -49px; margin-right: 10px; margin-top: -5px;}

.hk-block{margin-bottom: 15px; position: relative;}
.hk-block button{display: block;position: absolute;top: 45%;border: none;padding: 0;text-indent: -9999px;width: 25px;height: 26px;background: url(../images/front/sprite.png) no-repeat;}
.hk-block button.slick-prev{background-position: 0 -87px; left: -30px;}
.hk-block button.slick-next{background-position: -35px -87px; right: -30px;}
.hk-block button.slick-prev:hover{background-position: 0 -114px;}
.hk-block button.slick-next:hover{background-position: -35px -114px;}

.lst-items ul{margin: 0px -5px;}
.lst-items ul li{padding: 0 5px;margin-bottom: 30px;width: 20%;float: left;}
.lst-items .detail{border: 1px solid #e5e5e5; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -ms-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; position: relative;}
.lst-items .txt-blk{padding: 10px 15px;}
.lst-items a.img{width: 100%; height: 180px; display: block; overflow: hidden; position: relative;}
.lst-items a.img img{width: 100%; height: 100%; display: block;}
.lst-items a.view-detail{display: block;padding: 6px 0;text-align: center;background: #1295ff;font: 400 12px/20px 'Roboto Condensed', sans-serif;color: #fff;text-transform: uppercase;margin: 10px auto 0;position: relative;}
.lst-items a.view-detail:before{content: ''; display: block; border: 1px dashed #fff; position: absolute; left: 4px; top: 4px; right: 4px; bottom: 4px; z-index: 1;}

.hk-tour .detail:hover{box-shadow: 0 2px 5px rgba(0, 0, 0, .15);}
.hk-tour .rate-price{overflow: hidden;}
.hk-tour .rate-price .rate{float: left;}
.hk-tour .rate-price span{float: right; font: 400 15px/20px 'Roboto Condensed', sans-serif; color: #f00;}
.hk-tour a.img:before{content: ''; display: block; position: absolute; left: 10px; top: 10px; z-index: 2; bottom: 10px; right: 10px; border: 1px solid #fff;}
.hk-tour a.img:after{content: ''; background: rgba(18, 149, 255, .6) url(../images/front/ic-views.png) no-repeat center; display: block; position: absolute; left: 0; top: 0; z-index: 1; width: 100%; height: 100%;}
.hk-tour h3{margin: 5px 0; height: 40px; overflow: hidden;}
.hk-tour h3 a{font: 400 16px/20px 'Roboto Condensed', sans-serif;color: #1295ff;}
.hk-tour .hk-lc{font: 400 13px/20px 'Roboto', sans-serif; color: #555; display: block; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.hk-tour .hk-lc i{display: inline-block;width: 9px;height: 13px;background-position: -78px -28px;vertical-align: middle;margin-top: -2px;margin-right: 7px;color: #1081e0;font-size: 11px;}

.hk-product .img-prd{height: 190px; overflow: hidden; position: relative; margin: -1px -1px 0;}
.hk-product .img-prd img{width: 100%; height: 100%;}
.hk-product .txt-prd{position: absolute; bottom: -48px; background: rgba(0, 0, 0, .6); padding: 10px 15px; width: 100%;
-webkit-transition: all .35s ease-in-out; -moz-transition: all .35s ease-in-out; -ms-transition: all .35s ease-in-out; -o-transition: all .35s ease-in-out; transition: all .35s ease-in-out; }
.hk-product .img-prd:hover .txt-prd{bottom: 0; background: rgba(18, 149, 255, .8)}
.hk-product .img-prd:hover .txt-prd h3 a{color: #f6ff00; white-space: initial; text-overflow: initial;}
.hk-product .txt-prd h3 a{display: block; font: 400 14px/20px 'Roboto Condensed', sans-serif; color: #fff; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
.hk-product .txt-prd p{font: 300 13px/20px 'Roboto', sans-serif; color: #fff; margin-top: 5px; height: 40px; overflow: hidden;}
.info-prd{overflow: hidden; padding: 8px 20px; text-align: center;}
.info-prd .pull-left{height: 32px; display: table; width: 50%;}
.info-prd .pull-left p{display: table-cell; height: 100%; vertical-align: middle;}
.info-prd .pull-left p span{display: block; font: 400 12px/16px 'Roboto Condensed', sans-serif; color: #777; text-decoration: line-through;}
.info-prd .pull-left p strong{display: block; font: 400 16px/20px 'Roboto Condensed', sans-serif; color: #f00;}
.info-prd a.view-detail{margin: 2px auto;}

.hk-location{padding: 20px 15px; background: url(../images/front/bg-location.png) no-repeat; text-align: center; background-size: cover;}
.hk-location h2{font: 400 20px/normal 'Uhk-Face', sans-serif; color: #fff; text-transform: uppercase; margin-bottom: 5px;}
.hk-location p{font: 400 13px/20px 'Roboto', sans-serif; color: #fff; margin-bottom: 20px;}
.hk-location ul .slick-list{margin: 0 -15px;}
.hk-location ul li, .slide_khachhang ul li{padding: 0 15px;}
.hk-location .detail{position: relative;}
.hk-location a.img{height: 210px; display: block; overflow: hidden;}
.hk-location a.img img{width: 100%; height: 100%;}
.hk-location h3{background: rgba(0, 0, 0, .6); position: absolute; bottom: 0; left: 0; width: 100%; z-index: 1; -webkit-transition: all .35s ease-in-out; -moz-transition: all .35s ease-in-out; -ms-transition: all .35s ease-in-out; -o-transition: all .35s ease-in-out; transition: all .35s ease-in-out; }
.hk-location h3:hover{background: rgba(18, 149, 255, .8);}
.hk-location h3 a{font: 700 13px/20px 'Roboto', sans-serif; color: #fff; text-transform: uppercase; display: block; padding: 10px;}
.hk-location .slick-dots, .slide_khachhang .slick-dots{display: block; width: 100%; text-align: center; margin: 20px 0 0;}
.hk-location .slick-dots li, .slide_khachhang .slick-dots li{display: inline-block; padding: 0; margin: 0 5px;}
.hk-location .slick-dots li button {display: block; border: none; padding: 0; width: 15px; height: 15px; background: url(../images/front/sprite.png) no-repeat -147px -28px; text-indent: -9999px;} 
.slide_khachhang .slick-dots li button {display: block; border: none; padding: 0; width: 16px; height: 16px; background: url(../images/front/sprite.png) no-repeat -91px -121px;; text-indent: -9999px;} 
.hk-location .slick-dots li.slick-active button, .slide_khachhang .slick-dots li.slick-active button{background-position: -122px -28px;}

.hk-content-bot{padding: 50px 0;}
.hk-content-bot .hk-title{border: none;}

.lst-news{margin: 0 -10px;}
.lst-news .col-md-6{padding: 0 10px}
.lst-news h3{margin: 10px 0 5px;}
.lst-news h3 a{font: 500 15px/20px 'Roboto', sans-serif; color: #444;}
.footer-bot p a:hover,
.lst-news h3 a:hover{color: #f00;}
.lst-news p{font: 400 14px/20px 'Roboto', sans-serif; color: #555;}
.lst-news span{font: 400 13px/20px 'Roboto', sans-serif; color: #9c9c9c;}
.lst-news ul li:not(:last-child){margin-bottom: 20px;}
.lst-news .detail{overflow: hidden;}
.lst-news li a.img{width: 145px; float: left; height: 97px; overflow: hidden;}
.lst-news li h3{margin: 10px 0;}
.lst-news li h3 a{font-size: 14px;}
.lst-news li .txt-news{width: calc(100% - 165px); float: right;}

.hk-feedback .slick-list{background: #fafafa; border: 1px solid #e5e5e5; text-align: center;}
.hk-feedback .detail{padding: 20px; min-height: 320px;}
.hk-feedback p{font: 400 14px/20px 'Roboto', sans-serif; color: #555;}
.hk-feedback .img-fdb{width: 125px; height: 125px; overflow: hidden; border-radius: 100%; border: 5px solid #fff; margin: 20px auto 15px; box-shadow: 0 0 5px rgba(0, 0, 0, .26);}
.hk-feedback .img-fdb img{max-width: initial;}
.hk-feedback h3{font: 500 13px/20px 'Roboto', sans-serif; color: #f00; text-transform: uppercase;}
.hk-feedback .slick-dots{width: 100%; text-align: center; margin: 10px 0 0;}
.hk-feedback .slick-dots li{display: inline-block; margin: 0 5px;}
.hk-feedback .slick-dots li button{border: none; display: block; width: 14px; height: 14px; padding: 0; background: url(../images/front/sprite.png) no-repeat -128px -49px; text-indent: -9999px;}
.hk-feedback .slick-dots li.slick-active button{background-position: -104px -49px;}

.hk-news-rg .info-nws h4 a:hover,
.hk-tour h3 a:hover{color: #eb7629;}
.lst-items a.view-detail:hover{background: #eb7629;}
.hk-tour a.img:before,
.hk-tour a.img:after{opacity: 0; -webkit-transition: opacity .35s ease-in-out; -moz-transition: opacity .35s ease-in-out; -ms-transition: opacity .35s ease-in-out; -o-transition: opacity .35s ease-in-out; transition: opacity .35s ease-in-out; }
.hk-tour a.img:hover:before,
.hk-tour a.img:hover:after{opacity: 1;}
.woocommerce table.shop_table {
    border-radius: 0px!important;
    
}
.woocommerce-cart, .woocommerce-checkout article.post-content td{
    border: 1px solid #ededed;
}
span.woocommerce-Price-currencySymbol{padding: 0}
span.woocommerce-Price-amount.amount{padding: 0}
.cart_totals h2 {text-transform: uppercase;font: 500 20px/25px!important;}
a.checkout-button.button.alt.wc-forward {background: #1295ff;border-radius: 0px;text-transform: uppercase;font-size: 14px;padding: 10px;font: 500 14px/18px 'UtmAvo', sans-serif;}
a.checkout-button.button.alt.wc-forward:hover {background: #12991F!important;}
.actions input.button {border-radius: 0px!important;font-weight: 400;color: #006bbf!important;font: 500 20px/25px;text-transform: uppercase;height: 29px;background: #FBFBFB;border: 1px solid #ededed;}
.actions input.button:hover {color: #fff;}
/* Checkout */
form.checkout_coupon {
    border-radius: 0px!important;
}

input#coupon_code {
    height: 30px;
    padding: 10px;
    width: auto!important;
}
ul.wc_payment_methods.payment_methods.methods li {
    list-style: none;
}

form.checkout h3 {font-family: Roboto!important;text-transform: uppercase;font-size: 15px;font-weight: 600;margin-bottom: 15px;color: #006bbf;border-bottom: 1px solid #006bbf;padding-bottom: 7px;}
form.checkout label {font-family: Roboto!important;font-weight: 400;font-size: 15px;}
.woocommerce-billing-fields {background: #FBFBFB;padding: 7px;margin-bottom: 15px;border: 1px solid #ededed;}
.woocommerce-billing-fields input {height: 30px;border: 1px solid #B3B3B3;padding-left: 10px;}
div#s2id_billing_country a {border-radius: 0px!important;}
textarea#order_comments {height: 120px;padding: 10px;}
.woocommerce-shipping-fields {background: #FBFBFB;padding: 10px;border: 1px solid #ededed;}
input#place_order:hover {background: #0393DD;}
div#payment {background: #FBFBFB!important;border-radius: 0px!important;}
ul.woocommerce-thankyou-order-details.order_details,ul.order_details.bacs_de {font-size: 17px;border: 1px solid #12991F;margin-top: 17px!important;padding-top: 10px;padding-left: 15px;}
li.order strong {color: #e00;}
li.total strong {color: #e00;}
li.method strong {color: #12991F;}
li.date strong {color: #0193DD;}
form.login {
    border-radius: 0px!important;
    background: #FBFBFB;
}

input#username {
    height: 30px;
    padding-left: 10px;
    border: 1px solid #ededed;
    background: #fff;
}

input#password {
    height: 30px;
    padding-left: 10px;
    border: 1px solid #ededed;
    background: #fff;
}
.info-contact h3 {
    padding: 9px;
    background: #0393DD;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}

.info-contact h3:after {content: '';display: inline-block;height: 10px;width: 10px;position: absolute;border: 17px solid rgba(238, 0, 0, 0);right: 0px;border-left: 15px solid #2FB7FD;top: 0px;right: -32px;}

form.register {
    border-radius: 0px!important;
    background: #FBFBFB;
}

input#reg_email {
    height: 30px;
    padding-left: 10px;
    border: 1px solid #ededed;
    background: #fff;
}

input#reg_password {
    height: 30px;
    padding-left: 10px;
    border: 1px solid #ededed;
    background: #fff;
}
p.woocommerce-info {
    font-size: 15px;
    font-family: Roboto;
    border-color: #006bbf;
}

.woocommerce-info:before {
    color: #006bbf;
}
.ppt {
    display: none!important;
}

div.pp_woocommerce .pp_content_container {
    border-radius: 0px!important;
    padding: 0px;
    padding-top: 20px;
}
.panel h2 {
    font: 500 20px/25px 'UtmAvo', sans-serif;
    margin-bottom: 10px;
}
.container .woocommerce-message {
    border-color: #006bbf!important;
    font-family: Roboto;
    font-size: 14px;
    margin-top: 10px!important;
    background: #e3e2ff;
}
.lst-items a.img span.tour-hot {
    position: absolute;
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    top: 5px;
    right: 5px;
    background: #FF5722;
    border-radius: 50%;
    z-index:  99;
    text-align: center;
    line-height: 40px;
}
.lst-items a.img img.tour-black-friday {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: auto;
    z-index: 999;
}
.lst-items a.img span.tour-tra-gop {
    position: absolute;
    color: #fff;
    bottom: 0px;
    left: 0px;
    background: #f28902;
    z-index:  99;
    text-align: center;
    font-size: .6rem;
    padding: 2px 8px;
	border-radius: 5px;
}
.lst-items a.img span.tour-tra-gop-0 {
    position: absolute;
    color: #fff;
    bottom: 0px;
    left: 0px;
    background: #ed1b24;
    z-index:  99;
    text-align: center;
    font-size: .6rem;
    padding: 2px 8px;
	border-radius: 5px;
}
.lst-items a.img span.tour-noi-dung-khung-phai {
    position: absolute;
    color: #fff;
    bottom: 0px;
    right: 0px;
    z-index:  99;
    text-align: center;
    font-size: .6rem;
    padding: 2px 8px;
	border-radius: 5px;
}
span.tra-gop-tooltip {
    display: inline-block;
    cursor: pointer;
    color: #0A82F6;
    position: relative;
}
.tra-gop-tooltip:hover > .tra-gop-tooltip-des {
    display: unset !important;
}
.tra-gop-tooltip > .tra-gop-tooltip-des {
    position: absolute;
    background-color: #fff;
    color: #333;
    right: -20px;
    top: 25px;
    width: 250px;
    padding: 7px;
    box-shadow: 0 2px 4px rgba(0,0,0,.26);
    border-radius: 4px;
    border: 1px solid #ccc;
}
.tra-gop-tooltip:hover > .tra-gop-tooltip-des:after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: -1px -1px 1px #ccc;
    box-shadow: -1px -1px 1px #ccc;
    position: absolute;
    right: 22px;
    top: -4px;
    background: #fff;
}
.txt-blk.info-tour {
    padding: 5px;
    background: #ededed;
}

.txt-blk.info-tour .more a {
    display: inline-block;
    padding: 4px 15px;
    background: #1295ff;
    font: 400 12px/20px 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: 6px 5px;
}

.txt-blk.info-tour .more a.more-book {
    background: #ff5722;
}

.txt-blk.info-tour .more {
    text-align: center;
}
.txt-blk.info-tour .price {
    color: #e00;
    margin: 8px 0px;
    font: 400 20px/20px 'Roboto Condensed', sans-serif;
    display: inline-block;
}
.info-prd h4 a {
    font: 400 14px/20px 'Roboto Condensed', sans-serif;
    color: #1295ff;
}

.info-prd h4 {
    text-align: left;
    height: 40px;
    overflow: hidden;
    margin-bottom:  7px;
}

.info-prd a.view-detail.hotel {
    width: 80px;
}
.hk-block.hk-product.rent-car {
    margin-top: 30px;
}
.list-car .detail {
    border: 1px solid #ededed;
    border-top: 0px;
    border-bottom:  0px;
    padding: 0px 10px;
}
.list-car .detail img {
    min-height:  139px;
    object-fit: cover;
    margin-bottom:  15px;
}

.list-car {
    float: left;
    text-align: center;
    width: 20%;
    padding: 0 3px;
}

.content-rent-car {
    margin: 0 -3px;
}
.list-car .info h4 a {
    font: 500 15px/20px 'Roboto Condensed', sans-serif;
    color: #1295ff;
    text-transform: uppercase;
}

.list-car .info h4 {
    margin-bottom:  5px;
    height: 44px;
    overflow: hidden;
}

.read-more {
    border-bottom:  1px solid #ededed;
}

.list-car .info {
    padding: 0px 15px 10px;
}

.read-more a {
    background: #1295ff;
    color: #fff;
    display: inline-block;
    margin-bottom:  10px;
    border-radius: 30px;
    padding: 8px 35px;
    font-size: 13px;
}

.list-car {
    font-family:  Roboto;
}

.list-car .meta {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
}
ul.nav.nav-tabs{background: none;border: none;}
ul.nav.nav-tabs li a .fa{font-size: 23px;margin-right:  8px;}
ul.nav.nav-tabs li a{border-radius:0;background: #f7f7f7;text-transform:uppercase;color: #151515;padding: 10px 27px;border: none;font: 400 14px/20px 'Roboto Condensed', sans-serif;margin:  0px;border-top: 4px solid #ff572200;margin-right:  3px;}
ul.nav.nav-tabs li.active a{color: #fff!important;background-color: #0079dab3!important;border: none;border-bottom-color:transparent!important;margin: 0px;border-top: 4px solid #ff5722;margin-right:  3px;}
.tab-content{border-top:0;padding:30px;background-color: #0079dab3!important;margin-top:  1px;}
.box-search .container{
    position: relative;
}
.tabs-box {
    width: 100%;
    padding-right:  30px;
}
.tab-content .form-control {
    border-radius: 0px;
    box-shadow:  none;
    color: #000;
    font: 400 14px/20px 'Roboto Condensed', sans-serif;
}
.tab-content .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ededed;
}
.tab-content .form-control::-moz-placeholder { /* Firefox 19+ */
  color: #ededed;
}
.tab-content .form-control:-ms-input-placeholder { /* IE 10+ */
  color: #ededed;
}
.tab-content .form-control:-moz-placeholder { /* Firefox 18- */
  color: #ededed;
}
button.button-tour {
    width: 100%;
    height: 34px;
    border-radius: 0;
    border: none;
    color: #fff;
    background: #00589f;
    text-transform: uppercase;
    font: 700 15px/20px 'Roboto Condensed', sans-serif;
    position: initial;
    top: initial;
    text-indent: 0;
}
.banner img{
    float: left;
    width: 33.3333333333%;
    padding: 0 5px;
}
.banner {
    margin: 15px -5px 30px -5px; 
}
.list-choose span {
    display: inline-block;
    width: 35px;
    background: #1295ff;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border-right: 3px solid #005aa2;
    margin-right:  10px;
    float: left;
    font-size: 17px;
    font-weight: 600;
}

.list-choose {
    margin-bottom: 50px;
    font-family: Roboto;
    font-size: 15px;
}

.list-choose h4 a {
    font-size: 18px;
    color: #1295ff;
    font: 400 18px/normal 'Montserrat', sans-serif;
}
.back-to-top { position: fixed; bottom: 35px; right: 10px; display: none; cursor: pointer; z-index: 99 }
.back-to-top i { background: #d40736; padding: 5px 10px; color: #ffffff; font-size: 30px; font-weight: bold; }
.suntory-alo-phone {
    background-color: transparent;
    cursor: pointer;
    height: 95px;
    top:initial!important;
    position: fixed;
    transition: visibility 0.5s ease 0s;
    width: 120px;
    z-index: 20!important;
}
.suntory-alo-ph-circle {
    animation: 1.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim;
    background-color: transparent;
    border: 2px solid rgba(30, 30, 30, 0.4);
    border-radius: 100%;
    height: 100px;
    left: 0px;
    opacity: 0.1;
    position: absolute;
    top: 0px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 100px;
}
.suntory-alo-ph-circle-fill {
    animation: 2.3s ease-in-out 0s normal none infinite running suntory-alo-circle-fill-anim;
    border: 2px solid transparent;
    border-radius: 100%;
    height: 70px;
    left: 15px;
    position: absolute;
    top: 15px;
    transform-origin: 50% 50% 0;
    transition: all 0.5s ease 0s;
    width: 70px;
}
.suntory-alo-ph-img-circle {
    /* animation: 1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim; */
    border: 2px solid transparent;
    border-radius: 100%;
    height: 50px;
    left: 25px;
    opacity: 0.7;
    position: absolute;
    top: 25px;
    transform-origin: 50% 50% 0;
    width: 50px;
}
.suntory-alo-phone.suntory-alo-hover, .suntory-alo-phone:hover {
    opacity: 1;
}
.suntory-alo-phone.suntory-alo-active .suntory-alo-ph-circle {
    animation: 1.1s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}
.suntory-alo-phone.suntory-alo-static .suntory-alo-ph-circle {
    animation: 2.2s ease-in-out 0s normal none infinite running suntory-alo-circle-anim !important;
}
.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle, .suntory-alo-phone:hover .suntory-alo-ph-circle {
    border-color: #00aff2;
    opacity: 0.5;
}
.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle, .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle {
    border-color: #EB278D;
    opacity: 1;
}
.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle {
    border-color: #bfebfc;
    opacity: 1;
}
.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-circle-fill, .suntory-alo-phone:hover .suntory-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.9);
}
.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-circle-fill, .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-circle-fill {
    background-color: #EB278D;
}
.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-circle-fill {
    background-color: rgba(0, 175, 242, 0.9);
}

.suntory-alo-phone.suntory-alo-hover .suntory-alo-ph-img-circle, .suntory-alo-phone:hover .suntory-alo-ph-img-circle {
    background-color: #00aff2;
}
.suntory-alo-phone.suntory-alo-green.suntory-alo-hover .suntory-alo-ph-img-circle, .suntory-alo-phone.suntory-alo-green:hover .suntory-alo-ph-img-circle {
    background-color: #EB278D;
}
.suntory-alo-phone.suntory-alo-green .suntory-alo-ph-img-circle {
    background-color: #02a73c;
}
@keyframes suntory-alo-circle-anim {
    0% {
        opacity: 0.1;
        transform: rotate(0deg) scale(0.5) skew(1deg);
    }
    30% {
        opacity: 0.5;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
    100% {
        opacity: 0.6;
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}

@keyframes suntory-alo-circle-img-anim {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}
@keyframes suntory-alo-circle-fill-anim {
    0% {
        opacity: 0.2;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
    50% {
        opacity: 0.2;
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        opacity: 0.2;
        transform: rotate(0deg) scale(0.7) skew(1deg);
    }
}
.suntory-alo-ph-img-circle i {
    animation: 1s ease-in-out 0s normal none infinite running suntory-alo-circle-img-anim;
    font-size: 30px;
    line-height: 50px;
    padding-left: 10px;
    color: #fff;
}

/*=================== End phone ring ===============*/
@keyframes suntory-alo-ring-ring {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
    }
}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 55px;
    border: 1px solid #fff;
    border-radius: 0px;
}
.main-khach-san {
    background: #0070ca;
    position: relative;
    top: -30px;
    padding: 30px 0px;
}
.vua-xem ul li{
    float: left;
    width: 25%;
    padding: 0 15px!important;
}
.vua-xem ul li img {
    height: 200px!important;
    object-fit: cover;
}
.vua-xem ul {
    margin:  0 -15px!important;
}

ul.imageGallery.lightSlider.lSSlide img {
    object-fit: cover;
    border: 1px solid #fff;
}
.slider-tour{
    margin-bottom: 30px;
}
.bearch {
    background: #ededed;
    padding: 15px;
    margin-bottom:  30px;
    font: 400 14px/20px 'Roboto', sans-serif;
    color: #2d9bf3;
}

.bearch a {
    color: #eb7629;
}
.bearch .fa{
    margin: 0 5px;
}
.bearch .fa-home{
    margin: 0;
}
/* style file category*/
h1.tit,h3.related { border-bottom:1px solid #e5e5e5; padding-bottom:8px; margin-bottom:20px; }
h1.tit span,h3.related span { font:400 20px/normal 'Montserrat', sans-serif; color:#222; text-transform:uppercase; position:relative; padding-bottom:8px; }
h1.tit span:after,h3.related span:after { content:''; display:block; height:1px; background:#11b4ff; position:absolute; bottom:-1px; width:100%; }
.list-post-cat { margin-bottom:20px; margin-top:10px; }
.list-post-cat img { padding:1px; border:1px solid #ededed; }
.list-post-cat h4 a {color:#0A82F6;font:normal 20px/normal 'Montserrat-SemiBold';display:block;margin-bottom:3px;position:relative;}
.list-post-cat article.post-content { margin-top:0; }
.meta { font-size:12px; color:#FF0100; }
.page-numbers { padding:5px 10px; background:#0A82F6; font-size:14px; font-family:Roboto; display:inline-block; color:#fff; }
.quatrang { text-align:center; }
a.page-numbers { background:#9E9E9E; color:#fff; }
a.page-numbers:hover { background:#0A82F6; }
.list-pro .img { height:auto !important; }
.list-car { margin-bottom:30px; }

.datdiem {font-family:Roboto;font-size:14px;margin-top:15px;border-bottom: 1px solid #ededed;text-align:justify;margin-bottom:  10px;padding-bottom: 10px;font: 400 14px/24px 'Roboto Condensed', sans-serif;}
.datdiem strong {display:block;text-transform:uppercase;margin-bottom: 5px;color:#0A82F6;font-size: 20px;}
p.xx {margin-top: 10px;font-family:Roboto;font-size:14px;margin-bottom: 0px;color:#333;}
p.price {color:#e00;text-transform:uppercase;font-weight: 600!important;font: 400 30px/20px 'Roboto', sans-serif;}
p.price strong {color: #008ff3;font-size:14px;text-transform: initial;font: 600 15px/20px 'Roboto Condensed', sans-serif;}
p.gia-cu {color:#e00;text-transform:uppercase;font-weight: 600!important;font: 400 20px/20px 'Roboto', sans-serif;margin-top: 10px;}
p.gia-cu strong {color: #008ff3;font-size:14px;text-transform: initial;font: 600 15px/20px 'Roboto Condensed', sans-serif;}
a.btn.btn-primary,.modal-body input[type=submit] {background: #2d9bf3;text-transform:uppercase;font-family:Roboto;color:#fff;border: none;padding: 8px 25px;border-radius: 40px;}
a.btn.btn-primary:hover { transition:all .3s; background:#1C802F; }
.modal-dialog {border-radius:0 !important;z-index: 99999999999999999!important;}
.modal-content {border-radius:0;border: 7px solid #A8DAFD;box-sizing:border-box;background: #FFFFFF;}
h4.modal-title { font:400 20px/normal 'Gods_word',sans-serif; color:#147ADC; text-transform:uppercase; text-align:center; font-weight:600; }
.modal-header { padding:5px; }
.modal-body input[type=text],.modal-body input[type=date],.modal-body textarea { border:1.8px solid #359AFB; border-radius:0; box-shadow:none; margin-bottom:11px; color:#12942A; font-size:14px; font-family:Roboto; }
.conte-post { margin:30px 0 0; border:1px solid #ededed; padding:10px; padding-top:40px; position:relative; }
.conte-post>h3 { position:absolute; top:0; left:0; padding:7px 20px; background:#0A82F6; text-transform:uppercase; color:#fff; font-family:Roboto; font-size:16px; }
.tour div#sync1 img {height: 350px;}
.tour div#sync2 img {height: 70px;margin-bottom: 15px;}
p.ster span {color: #FDCB0C;font-size: 20px;margin-right: 10px;}
.teo .cho {margin-bottom: 10px;}
.teo .price {font-size: 26px;font-family: Roboto;margin-top: 10px;}
.modal-backdrop.fade.in {
    display: none;
}
div#___plusone_0 {
    position: relative;
    top: 5px;
}
p.ster {
    margin-bottom:  10px;
}

p.xx strong {
    font-weight: 600;
    font: 600 15px/20px 'Roboto Condensed', sans-serif;
    color: #008ff3;
}
ul.image-gallery.thumbnails-7.linked img {
    object-fit: cover;
    height: 80px;
}
.single-page .tab-content {
    background: #fff!important;
    border-right:  1px solid #ededed;
    padding: 0px;
    margin: 30px 0px;
}
article.post-content {
    margin: 0 0 5px;
    line-height: 1.8;
    font-size: 14px;
    font-family: Roboto;
}
ul.image-gallery.thumbnails-7.linked {
    margin: 0px;
    padding: 0px;
}
.content-related img {
    max-height: 140px;
    width: 100%;
    object-fit: cover;
}

.content-related h4 a {
    color: #eb7629;
    font: 600 17px/24px 'Roboto Condensed', sans-serif;
}

.content-related h4 {
    margin: 10px 0;
    border-bottom:  1px solid #ededed;
    padding-bottom:  10px;
}

.content-related ul li {
    margin-bottom:  30px;
}

.info-tour-rel {
    font-family:  Roboto;
    font-size: 15px;
}

.info-tour-rel .price {
    font-size: 23px;
    line-height: 30px;
}

.info-tour-rel .pull-left {
    border-right: 1px solid #d8d8d8;
    padding-right:  15px;
    line-height: 30px;
}
.tour-noibat {
    padding: 30px;
}
.tour-noibat img{
    object-fit: cover;
}
.hk-tour .rate-price .rate img {
    width: 75px;
}
h1.tit-khachsan {
    color: #fff;
    font-weight: 600;
    font: 700 25px/20px 'Open Sans', sans-serif;
    margin-bottom:  17px;
}
.price-hotel {
    color: #fff;
    font-size: 22px;
    font-family: Arial;
    margin-bottom:  10px;
    font-weight:  600;
}
.teo.hotel-teo p{
    color: #fff;
    font-size: 13px;
}

.datdiem.datdiem-hotel {
    color: #fff;
}

.datdiem.datdiem-hotel strong {
    color: #ffc71f;
}

.price-hotel span {
    font-size: 14px;
    font-weight:  500;
}
.teo.hotel-teo p .fa {
    color: #ffc71f;
    display: inline-block;
    width: 10px;
    margin-right:  5px;
}
.book-hotel {
    width: 250px;
    text-align: center;
    padding: 11px 0;
    background: #ffc71f;
    margin-top:  30px;
    color: #fff;
    font-family:  Roboto;
    border-radius: 5px;
}

.book-hotel a {
    color: #000;
}

.book-hotel a p {
    font-size: 18px;
    font-weight:  800;
    text-transform: uppercase;
    margin-bottom:  5px;
}

.book-hotel:hover {
    background: #eb7629;
}
.hd-contact a {
    color: #fff;
}
li.more-menu {
    width: 80px;
    background: #e00;
    color: #fff;
    text-align: center;
}

li.more-menu a {
    color: #fff!important;
    font-size: 30px!important;
    padding-top: 28px!important;
    padding-bottom: 32px!important;
}
.loai-tour .owl-carousel .owl-item {
    text-align: center;
}
.loai-tour {
    background: #f1f1f1;
    padding: 20px 15px;
    margin-bottom: 20px;
}
.loai-tour .owl-carousel .owl-item img {
    width: auto;
    display: block;
    margin: auto;
    margin-bottom: 12px;
}

.loai-tour .owl-carousel .owl-item h4 a {
    color: #252525;
    font-family:  Roboto;
    font-size: 15px;
    font-weight: 600;
}
.loai-tour .owl-nav {
    position: absolute;
    top: 12%;
    width: 100%;
}
.loai-tour .owl-prev {
    float: left;
}

.loai-tour .owl-next {
    float: right;
}
.decs {
    margin: 20px 0;
    font-family:  Roboto;
    font-size: 14px;
    text-transform: initial;
}

.decs a {
    color: #40bd76;
}
.container-search form {
    background: #ededed;
    padding:  10px;
    margin-bottom: 30px;
    font-family: Roboto;
}

.container-search form .form-control {
    border-radius: 30px;
    margin-bottom: 10px;
    border: 1px solid #7cc5ff;
    font-family: Roboto;
}
button.button-search {
    width: 120px;
    background: #2d9bf3;
    text-transform: uppercase;
    font-family: Roboto;
    color: #fff;
    display: block;
    border: none;
    margin: 0 auto;
    padding: 8px 25px;
    border-radius: 40px;
}

h3.hit {
    font: 400 23px/normal 'Uhk-Face', sans-serif;
    color: #40bd76;
}
.lst-items ul.tour-slick a.img {
    height: 250px;
}
.lst-items ul.tour-slick a.img img{
    object-fit: cover;
}
.title-thuexe {
    font: 400 23px/normal 'Uhk-Face', sans-serif;
    margin-bottom: 5px;
}
.like {
    margin-bottom:  10px;
    display: inline-block;
}

.xe {
    font-family:  Roboto;
    font-size: 15px;
}
.xe p.price{
    text-transform: uppercase;
    font-weight: 600!important;
    font: 400 23px/20px 'Roboto', sans-serif;
    color: #e00;
}
.content-title {
    border-bottom: 1px solid #1463c0;
    margin-bottom:  10px;
}

.content-title span {
    display: inline-block;
    background: #2587f0;
    color: #fff;
    padding: 10px 45px;
    font-family:  Roboto;
    text-transform: uppercase;
    font-size: 15px;
}
.xe p {
    margin-bottom:  12px;
    color: #333;
    line-height: 23px;
}
.dat-xe a {
    display: inline-block;
    background: #fff;
    padding: 5px 20px;
    margin-bottom: 10px;
    border: 1px solid;
    color: #0a6ad0;
}
.lienquan .list-car {
    width: 25%;
}
.container-search.danh-muc-xe ul li {
    font-size: 15px;
    font-family:  Roboto;
    margin-bottom: 15px;
}

.container-search.danh-muc-xe {
    margin-bottom: 20px;
}
.list-post img {
    width: 200px;
    float: left;
    margin-right: 15px;
    border: 1px solid #2d9bf3;
    padding: 5px;
    min-height:  150px;
    object-fit: cover;
}
.list-post img:hover {
    border-color:#e00; 
}
.list-post h4 {
    font-size: 17px;
    font-family: Roboto;
    margin-bottom: 5px;
}

.meta {
    font-family: Roboto;
    color: #e00;
}

.list-post h4 a {
    color: #2d9bf3;
    font: 400 17px/normal 'Uhk-Face', sans-serif;
}

.list-post h4 a:hover {
    color: #e00;
}

.list-post {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ededed;
}
.quatrang {
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
}

.page-numbers {
    margin: 0px 5px;
    color: #D9373A;
}
.content-xe-price {
    text-align: center;
    font-family:  Roboto;
}

.content-xe-price p {
    color: #e00;
    font-size: 17px;
    font-weight:  600;
    margin: 16px 0px;
}

.content-xe-price a {
    display: block;
    background: #0b6de1;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.content-xe-price {
    border-left: 1px solid #ededed;
    padding-left:  15px;
    padding-top:  15px;
    padding-bottom: 40px;
}
.doitact img{
    border: 1px solid #ededed;
    background: #fff;
    padding: 2px;
}
ul.product_list_widget img {
    float: left!important;
    width: 100%!important;
    margin-left:  0!important;
}

ul.product_list_widget span.product-title {
    color: #eb7629;
    font: 600 17px/24px 'Roboto Condensed', sans-serif;
    display: inline-block;
    margin-top:  10px;
}

ul.product_list_widget span.woocommerce-Price-amount.amount {
    color: #e00;
    text-transform: uppercase;
    font-weight: 600!important;
    font: 400 15px/20px 'Roboto', sans-serif;
    display: inline-block;
    margin-top:  10px;
    margin-bottom:  20px;
}

.widget h3 {
    font: 400 20px/normal 'Uhk-Face', sans-serif;
    color: #222;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 8px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 8px;
    margin-bottom: 20px;
}
.book-tour {
    background: #ecf5ff;
    border: 1px solid #32a8f7;
    padding: 15px;
    font-family: Roboto;
}
.contact-tv {
    float: left;
    line-height: 30px;
    font-size: 15px;
}
.contact-tv span {
    color: #e00;
    font-weight: 600;
}
.booking-ft {
    float: right;
}
h2.title-cat {
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 1px solid #afafaf;
    margin-bottom: 15px;
    font-weight: 400;
}

.slider-cat {
    margin-bottom: 30px;
}

.child-cat {
    margin-bottom: 30px;
}

h2.title-cat span a {
    font: 400 17px/normal 'Uhk-Face', sans-serif;
    :
    position: relative
    padding-bottom: 8px;
}

h2.title-cat span a:hover {
    color: #e00;
}

h2.title-cat span {
    display: inline-block;
    border-bottom: 1px solid #e00;
    position: relative;
    top: 1px;
    padding-bottom: 10px;
}

h4.tit {
    margin: 10px 0px;
    line-height: 23px;
    font-size: 18px;
    font-family:  ROboto;
}

h4.tit a {
    color: #333;
    font-weight: 500;
}
.child-cat p {
    font-family:  ROboto;
}

h4.tit a:hover {
    color: #e00;
}
ul.list-cat-chil li img {
    float: left;
    margin-right: 15px;
    width: 100px;
}

h4.tit-chuil {
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    line-height: 17px;
    overflow: hidden;
    margin-bottom: 5px;
}

h4.tit-chuil a {
    color: #333;
    font-family:  Roboto;
}

ul.list-cat-chil li {
    margin-bottom: 10px;
}

h4.tit-chuil a:hover {
    color: #e00;
}
.slider-cat .carousel img {
    width: 100%;
}
h1.title {
    font-size: 25px;
    font-weight: 600;
    margin: 15px 0px;
    line-height: 30px;
    margin-top:  0px;
}

.content-single .meta span {
    margin-right: 10px;
    font-size: 13px;
    color: #616161;
    text-transform: uppercase;
}
.content-single .meta {
    margin-bottom: 10px;
}
div#relatedposttags ul {
    margin: 10px 0px;
    border-bottom: 1px dashed #ededed;
    border-top: 1px dashed #ededed;
    padding: 10px 0px;
}
div#relatedposttags ul li a:before {content: '';height: 5px;width: 5px;background: #FF5722;display: inline-block;position: relative;top: -2px;margin-right: 5px;}

div#relatedposttags ul li a {
    color: #8a8a8a;
}

div#relatedposttags ul li {
    margin-bottom: 2px;
}
.content-single .meta span a {
    text-transform: initial;
    border: 1px solid #ededed;
    padding: 3px 5px;
    color: #333;
    display: inline-block;
}
div#relatedposttags {
    margin-bottom: 20px;
}

.meta-s {
    margin: 15px 0;
}
span.social-s {
    float: right;
}
span.social-s .fa {
    height: 35px;
    width: 35px;
    border: 1px solid #c6c6c6;
    font-size: 15px;
    text-align: center;
    position: relative;
    line-height: 35px;
    margin-left: 5px;
    color: #7b7b7b;
    top: -10px;
}
.tag-s a {
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid #d2d2d2;
    color: #7b7b7b;
    padding: 2px 10px;
    margin-right: 5px;
    font-size: 13px;
    margin-bottom: 5px;
}
.tag-s a:hover {
    border-color: #7b7b7b;
}
span.like img {
    margin-bottom: 5px;
}
i.fa.fa-facebook:hover {
    color: #fff;
    background: #3b5998;
    transition: all .3s;
    border-color: #3b5998;
}
i.fa.fa-google-plus:hover {
    background: #d73d32;
    border-color: #d73d32;
    color: #fff;
    transition: all .3s;
}
i.fa.fa-twitter:hover {
    transition: all .3s;
    color: #fff;
    background: #1da1f2;
    border-color: #1da1f2;
}
h3.title-related {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #525252;
    font-weight: 600;
    margin-top: 20px;
}
.related ul li h4 {
    font-size: 14px;
    line-height: 20px;
    font-family: Roboto;
    margin-top: 8px;
}
.related ul li h4 a:hover {
    color: #de4a00;
}
.related ul li h4 a {
    color: #333;
    font-weight: 500;
}
div#relatedposttags ul li a:hover {
    color: #000;
}
.content-single .meta span a:hover {
    color: #fff;
    background: #333;
    transition: all .3s;
}
.left-single h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

.left-single ul li h4 {
    font-size: 13px;
    margin: 5px 0px 15px;
}

.left-single ul li h4 a {
    color: #000;
    line-height: 18px;
    font-family:  Roboto;
    font-weight:  500;
}
.left-single {
    background: #ecf5ff;
    padding: 7px;
    margin-top: 10px;
}

.left-single ul li h4 a:hover {
    color: #e00;
}

.left-single ul li:hover a img {
    border: 1px solid #e00;
    opacity: .8;
}

.left-single ul li a img {
    border: 1px solid #ecf5ff;
}
ul.image-gallery {
    display: none;
}
@media (min-width: 1300px) {
    .container {
        min-width: 1250px!important;
    }
}

@media (max-width: 1190px){
    .img-intro-rg{display: none;}
    ul.menu li a{font: 600 13px/20px 'Open Sans', sans-serif; padding: 35px 15px;}
    .ft-sp{padding: 0;}
    ul.ft-lst li a{font-size: 13px;}
    .top-content{padding: 0px 0;}
    .sr-contact{margin: 10px 10px 0;}
    .hk-search{padding: 10px 15px;}
    .txt-intro-lf{width: 100%; float: none;}
    .lst-items ul li{width: 50%;}
}
@media (max-width: 990px){
    a.menu-mobile{display: block;}
    .hk-search button,
    .footer-bot p{width: 100%; text-align: center;}
    ul.ft-lst li a{font-size: 14px;}
    .content-md,
    .footer-top{padding: 20px 0 0;}
    .hk-slider{width: 100%; margin-bottom: 30px;}
    .hk-search{width: 100%; padding: 20px 15px;}
    .hk-content-bot,    
    .top-content{padding: 30px 0;}
    .hk-news,
    .intro-lf{width: 100%; float: none; padding: 0; margin-bottom: 30px;}
    .content-md-lf,
    .content-md-rg,
    .info-prd .pull-left,
    .info-prd .pull-right,
    .intro-rg{width: 100%; float: none;}
    .intro-lf ul li a{padding: 10px 20px 10px 40px;}
    .intro-lf ul li.active a:before{height: 42px;}

    .lst-items ul li{width: 33.33%;}
    .lst-items .txt-blk{padding: 10px;}
    .hk-tour .rate-price span{font-size: 14px;}
    .info-prd a.view-detail{margin: 10px auto 0;}
    .hk-feedback .detail{min-height: initial;}
}

@media (max-width: 1199px){
    .pull-left.hd-top-lf.hidden-sm.hidden-xs {
        display: none;
    }

    .pull-right.hd-top-rg {
        float: inherit!important;
        border: none!important;
        text-align: center!important;
    }

    .hd-contact {
        border: none;
        text-align: center!important;
        width: 100%;
    }

    ul.menu li a {
        padding: 35px 9px;
    }
}
@media (max-width: 991px){
    a.menu-mobile{
        display: block;
    }
    .tabs-box{
        position: relative;
        top: 30px;
    }
    .top-content{
        background: none;
    }
    ul.nav.nav-tabs li a {
        padding: 10px 15px;
    }
    .tab-content .form-control {
        margin-bottom: 10px;
    }
    .list-car{
        width: 33.33333333333%;
        margin-bottom: 15px;
    }
    .vua-xem ul li{
        width: 33.333333333333%;
    }
}
@media (max-width: 680px){
    .lst-items ul li{width: 50%;}
    ul.nav.nav-tabs li {
        width: 50%;
    }

    ul.nav.nav-tabs li a {
    }

    .list-car {
        width: 50%;
    }

    .list-post img {
        width: 100%;
    }

    .tabs-box {
        padding: 0;
    }
}
@media (max-width: 630px){
    .lst-news .col-md-6:first-child,
    .hd-contact span:first-child{display: none;}
    .hk-search ul li.col-md-12{width: 100%;}
    .hk-search ul li.col-md-6{width: 50%;}
    .hk-search button{width: 160px;}
    .hk-search p,
    .hk-search h3{margin-bottom: 15px;}
    .lst-news .col-md-6{width: 100%;}
     ul.nav.nav-tabs li {
        width: 50%;
    }
    .vua-xem ul li{
        width: 50%;
    }
}

@media (max-width: 500px){
    .hk-news-rg .info-nws li,
    .footer-top .col-sm-6{width: 100%;}
    .hk-tour .rate-price span{font-size: 13px;}
    ul.nav.nav-tabs li {
        width: 100%;
    }
    .list-car, .lienquan .list-car {
        width: 100%;
    }
    .vua-xem ul li{
        width: 100%;
    }
}
@media (max-width: 420px){
    .hk-logo{width: 225px;}
    a.menu-mobile{margin: 30px 0;}
    .lst-items ul li{width: 100%;}
    .hk-tour h3{height: auto;}
    .hk-tour .rate-price span{font-size: 15px;}
    .hk-title h2{font-size: 17px;}
}

div#reviews {
    background: #ffffff;
    font-family:  Roboto;
}

h2.woocommerce-Reviews-title {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 20px;
}

p.comment-notes {
    display: none;
}

p.woocommerce-noreviews {
    display: none;
}

span#reply-title {
    margin-bottom:  15px;
    font-size: 15px;
    display: inline-block;
}

.comment-form-rating {
    font-size: 14px;
}

.comment-form-rating label {
    margin-bottom:  5px;
}

.comment-form-rating .stars a {
    font-size: 19px;
    color: #ffec58;
    margin-right:  5px;
}
p.comment-form-comment label {
    font-size: 14px;
    margin-bottom:  5px;
}

textarea#comment {
    width: calc(100% - 15px) !important;
    border-radius: 5px;
    height: 120px!important;
    padding: 15px;
}

p.comment-form-author label, p.comment-form-email label {
    display: block;
    font-weight: 400;
    font-size: 15px;
    margin-bottom:  5px;
}

input#author, input#email {
    width: 320px;
    height: 35px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
}

p.form-submit input#submit {
    background: #2d9bf3!important;
    color: #fff!important;
    padding: 10px 20px!important;
    font-weight: 400!important;
    text-transform: uppercase;
}
.woocommerce .star-rating span {
    color: #ffec58;
}
p.price.price-name {
    font-size: 12px;
    margin-bottom:  10px;
}
.wp-social-login-widget {
    text-align: center;
    border-bottom:  1px solid #ededed;
    margin-bottom:  20px;
}

a.wp-social-login-provider.wp-social-login-provider-facebook {
    padding: 9px 30px;
    background: #008ff3;
    margin-bottom:  15px;
    display: inline-block;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    transition: all .3s;
}

a.wp-social-login-provider.wp-social-login-provider-facebook:hover {
    color: #ffffff;
    text-decoration: none;
    background: #169dca;
}
span.single-tra-gop {
    background-color: #025aab;
    color: #ffffff;
    padding: 2px 8px;
    border-radius: 3px;
}
span.single-noi-dung-khung-phai {
    color: #ffffff;
    padding: 2px 8px;
    border-radius: 3px;
}
button.view-all {
    background-color: #12942A;
}
.footer-call {
    background-color: #1295ff;
    color: #ffff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 320px;
    min-height: 50px;
    z-index: 98;
    display: flex;
    align-items: center;
}
.footer-call .row-hotline > div {
    padding-left: 5px;
    padding-right: 5px;
}
.footer-call .text-hotline {
    padding: 0 1em;
    font-size: 1.5em;
    font-family: Uhk-Face;
    text-shadow: 1px 0px 2px #ffffff;
    color: #ed1e24;
    text-transform: uppercase;
}
.footer-call .row-hotline {
    flex-grow: 1;
    margin: 0;
}
span.sdt-num {
    font-size: 1.1em;
    font-family: Uhk-Face;
    text-shadow: 2px 1px 2px #8d8b8b;
}
span.sdt-tit {
    display: block;
    text-transform: uppercase;
    color: #ffe00c;
    font-weight: bold;
}
.slide_khachhang {
	position: relative;
}
.slide_khachhang ul li > div {
    position: relative;
    padding-top: 66%;
    overflow: hidden;
    height: auto;
    overflow: hidden;
}
.slide_khachhang ul li > div img {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    top: 0;
}
.popup_dangky {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
    width: 300px;
    height: 200px;
    border: 2px solid #1295ff;
    background-color: #fafafa;
}

.popup_dangky > .form_dangky {
    position: relative;
    display: flex;
    align-items: center;
    padding: 30px;   
	height: 160px;
}

.popup_dangky input.wpcf7-form-control {
    width: 100%;
    height: 35px;
    text-align: left;
    padding-left: 5px;
}

.btn_close_dangky {
    position: absolute;
    right: -2px;
    top: -22px;
    width: 20px;
    height: 20px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 5px 5px 0 0;
    line-height: 20px;
	cursor: pointer;
}

.popup_dangky input.wpcf7-form-control.wpcf7-text {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
}

.popup_dangky input.wpcf7-form-control.wpcf7-submit {
    background-color: #1295ff;
    border: unset;
    color: #fff;
}
.popup_dangky h3 {
    height: 40px;
    background-color: #1295ff;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    color: #fff;
}
.content-tour-goi-y, .content-khachsan-goi-y, .content-openbus-goi-y {
    margin-left: -3px;
    margin-right: -3px;
	margin-bottom: 30px;
}
.content-tour-goi-y > div[class^=col-], .content-khachsan-goi-y > div[class^=col-], .content-openbus-goi-y > div[class^=col-] {
    padding-left: 3px;
    padding-right: 3px;
}
.content-openbus-goi-y {
    text-align: center;
}
.content-openbus-goi-y .detail {
    border: 1px solid #ededed;
    border-top: 0px;
    border-bottom: 0px;
    padding: 0px 10px;
}
.content-openbus-goi-y .detail img {
    height: 139px;
    object-fit: cover;
    margin-bottom: 15px;
}
.content-openbus-goi-y .info {
    padding: 0px 15px 10px;
}
.content-openbus-goi-y .info h4 {
    margin-bottom: 5px;
    height: 44px;
    overflow: hidden;
}
.content-openbus-goi-y .info h4 a {
    font: 500 15px/20px 'Roboto Condensed', sans-serif;
    color: #1295ff;
    text-transform: uppercase;
}
.content-openbus-goi-y .meta {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
}
.popup-dangnhap {
    position: absolute;
    width: 300px;
    height: 175px;
    background-color: #fff;
    z-index: 999999;
    color: #000;
    padding: 30px;
    bottom: -180px;
    border-radius: 5px;
    border: 1px solid #ddd;
    left: -55px;
}

.popup-dangnhap:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    /* background: #fff; */
    top: -20px;
    left: 50%;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

a.btn.popup-dangnhap__btn-dangnhap {
    background-color: #2d9bf3;
    width: 115px;
	margin-right: 4px;
}

a.btn.popup-dangnhap__btn-dangky {
    border-color: #ddd;
    color: currentColor;
    width: 115px;
}

.popup-dangnhap__tit {
    margin-bottom: 8px;
}
span.popup-dangnhap__btn-tat {
    background-color: #ee0000;
    border-radius: 5px;
    margin-top: 7px;
    margin-left: 50%;
    color: #fff;
    transform: translateX(-50%);
	cursor: pointer;
}
.uudai.row > .col-sm-12 > .row.mc_list {
    margin-right: -5px;
    margin-left: -5px;
}
.uudai.row > .col-sm-12 > .row.mc_list > div {
    padding-right: 5px;
    padding-left: 5px;
}

.mc_list {
    border: 1px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
}
h4.mc_tit {
    margin-top: 5px;
}
.mc_tong_tit {
    font-size: 1.2em;
}

.mc_tong_price {
    color: #d0021b;
    font-size: 1.4em;
    font-weight: bold;
}

a.mc_buy {
    display: block;
    padding: 7px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background: #fd6e1d;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fd6e1d), to(#f59000));
    background: -webkit-linear-gradient(top, #f59000, #fd6e1d);
    background: -moz-linear-gradient(top, #f59000, #fd6e1d);
    background: -ms-linear-gradient(top, #f59000, #fd6e1d);
    background: -o-linear-gradient(top, #f59000, #fd6e1d);
}
a.mc_buy small {
	text-transform: initial;
}
.mc_price {
    font-weight: bold;
    color: #d0021b;
}
span.mc_old {
    color: #666;
}
.mc_tong_old {
    font-weight: bold;
    color: #999;
}
.ticked i.mc_check {
    color: #3b8dd4;
}
.mc_col > a {
    position: relative;
    padding-top: 75%;
    display: block;
/*     overflow: hidden; */
    width: 100%;
}
.mc_col > a > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.lst-kh .kh-title {
    padding: 10px 10px 5px 10px;
}

.lst-kh li > a {
    background-color: #f3f7ff;
    display: block;
    padding: 10px;
    border: 1px solid #1295ff;
}
#single-hk-gallery > a {
    margin-bottom: 30px;
}
#single-hk-gallery img {
	width: 100%;
}
.post-type-archive-album-khach-hang .lst-kh li {
    margin-bottom: 30px;
}
#single-hk-gallery .caption {
    background-color: #fafafa;
    padding: 8px;
    border: 1px solid #ddd;
    border-top: unset;
}
#single-hk-gallery .caption h4 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}
@media (min-width: 768px) {
	ul.nav.nav-tabs{position: sticky;top: 0;background-color: #fff;}
}
