/*Header by ltan*/
.lazyload {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}
.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
.mb-10 {
  margin-bottom: 10px;
}
.slider-cat{
  .carousel-inner{
    >.item{
      >a{
        display: block;
        overflow: hidden;
        padding-bottom: 50%;
        > img{
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.link-img{
  position: relative;
  display: block;
  overflow: hidden;
  float: left;
  width: 100px;
  margin-right: 15px;
  > img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.link-img::before{
  content: "";
  display: block;
  padding-bottom: 80%;
}
.list-post{
  > .img {
    width: 200px;
  }
  > .img::before{
    padding-bottom: 75%;
  }
}
.related {
  .link-img {
    width: 100%;
    margin-right: 0;
    float: none;
  }
}
.footer-call{
  padding-right: 0;
}
.post-content {
  img{
    max-width: 100%;
    height: auto !important;
  }
}
ul.nav.nav-tabs li.active a,
.tab-content{
  background-color: rgba(0,121,218,0.7) !important;
}
.lst-items {
  a.img{
    height: auto;
    padding-bottom: 75%;
    img{
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
.comment-respond {
  .comment{
    border: 1px solid #c3c3c3;
  }
}
.fa-loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1000;
}
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.6);
  z-index: 4;
  cursor: pointer;
}
.post-content {
  .book-woo {
    position: relative;
  }
}
.services-info {
  .services-info__title {
    font-family: Uhk-Face;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .services-info__payment {
    display: flex;
  }
  .services-info__box {
    .box-radio-method {
      flex: 1;
      .radio-method{
        display: none;
      }
      .mar-radio-method {
        margin: 0 10px 0 0;
        width: calc(100% - 10px);
        border-radius: 4px;
        line-height: 40px;
        color: #000;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        background: #bfe2bf;
        cursor: pointer;
        > i{
          display: none;
          float: right;
          padding-right: 16px;
          line-height: 40px;
        }
      }
      input[type="radio"]:checked {
        + .mar-radio-method {
          background: #5cb85c;
          color: #fff;
          > i{
            display: block;
          }
        }
      }

    }
    label{
      font-size: 16px;
    }
    .form-control {
      border: 1px solid #7cc5ff;
    }
  }
  .services-info__btn {
    .checkout-btn {
      background: #1295ff;
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 14px;
      padding: 12px 20px;
      font: 700 15px/18px UtmAvo,sans-serif;
      display: inline-flex;
      color: #fff;
      margin-top: 30px;
      margin-bottom: 15px;
    }
    .checkout-btn:hover {
      background: #12991f !important;
      text-decoration: none;
    }
  }
}
.booking-info {
  h3 {
    a:visited, a {
      font: 400 18px/20px 'Roboto Condensed',sans-serif;
      color: #1295ff;
      text-transform: uppercase;
      display: flex;
      margin-bottom: 5px;
    }
  }
  .txt-blk {
    p {
      .fa{
        color: #1295ff;
      }
    }
    .book-total,.book-total__payment{
      color: #eb7629;
      font-weight: 500;
      font-size: 22px;
    }
    .book-payment__total{
      border-top: 2px solid #ccc;
      margin-top: 5px;
      padding-top: 10px;
      h3{
        font-size: 18px;
        margin-bottom: 5px;
      }
      p{
        margin-bottom: 0;
      }
    }
  }
}
.sidebar {
  .info-nws {
    .row{
      display: flex;
      flex-wrap: wrap;
    }
  }
}
.hs-modal{
  .modal-title{
    font: 400 23px/normal 'Uhk-Face', sans-serif;
    color: #1295ff;
  }
  .modal-img{
    margin-bottom: 15px;
  }
  .modal-body {
    .form-control{
      border: 1.8px solid #359AFB;
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 11px;
      color: #12942A;
      font-size: 14px;
      font-family: Roboto;
    }
  }
  .modal-btn{
    border-radius: 50px;
    padding: 7px 30px;
  }
  .checkbox-register__label{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .checkbox-register__terms{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkbox-register__checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    background-color: #359AFB;
  }
  .checkbox-register__checkmark::after{
    left: 9px;
    top: 5px;
    width: 10px;
    height: 15px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    position: absolute;
    display: none;
  }
  .checkbox-register__label input:checked~.checkbox-register__checkmark:after{
    display: block;
  }
}
@media (max-width: 1199px) {
  .loai-tour {
    .owl-nav {
      top: 32%;
      margin-top: 0;
    }
  }
  .lst-items {
    ul {
      li {
        width: 33.33%;
      }
    }
  }
}
@media (max-width: 991px){
  li.more-menu{
    width: auto;
    a{
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }
  .top-content{
    padding-top: 0;
  }
  .rslides {
    img{
      height: 300px;
      object-fit: cover;
    }
  }
  .rslides_tabs{
    bottom: auto;
    margin-top: 7px;
  }
  .slider-cat{
    margin-bottom: 0;
  }
  .left-single{
    margin-bottom: 10px;
    h3{
      margin-top: 5px;
      margin-bottom: 10px;
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 5px;
        padding-right: 5px;
        .img{
          position: relative;
          display: block;
          overflow: hidden;
          padding-bottom: 70%;
          img{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
          }
        }
      }
    }
  }
  input#author, input#email{
    width: 100%;
  }
  .single-page {
    .tab-content {
      border: 0;
    }
  }
  .footer-bot {
    display: none;
  }
}
@media (max-width: 767px) {
  .lst-items {
    ul {
      li {
        width: 50%;
      }
    }
  }
  .woocommerce {
    table.shop_table{
      width: 767px !important;
    }
  }
}
@media (max-width: 478px) {
  .lst-items {
    ul {
      li {
        width: 100%;
      }
    }
  }
}
