@media print {
  .content-wrapper, .right-side, .main-footer {
    margin-left: 0;
  }
  .box .box-header {
    display: none;
  }
  .content-wrapper, .main-footer {
    border-left: none;
  }
  .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    font-size: 9px;
    padding: 3px;
  }
  .style-print > thead > tr > th, .style-print > tbody > tr > th, .style-print > tfoot > tr > th, .style-print > thead > tr > td, .style-print > tbody > tr > td, .style-print > tfoot > tr > td {
    padding: 0 3px;
  }
}

body {
  color: #333333;
  font-family: 'Roboto', sans-serif;
}

/*logo*/
.logo-mini img {
  width: 100%;
}

.logo-lg {
  height: 100%;
}

.logo-lg img {
  width: auto;
  height: 40px;
  display: block;
  margin: 5px auto;
}

.main-footer {
  background: #f1f1f3;
  padding: 9px 15px;
  color: #3e3f3f;
  border-top: none;
  font-size: 15px;
  font-weight: 400;
}

.main-footer a {
  color: #3e3f3f;
}

.main-footer span:first-child > a {
  border-bottom: 1px solid #3189dc;
}

ul.pagination {
  margin: 0;
}

/*select 2*/
select.input-sm + .select2-container--default .select2-selection--single,
select.input-sm + .select2-selection .select2-selection--single {
  padding: 4px 12px;
  height: 30px;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .input-group {
    max-width: 100%;
  }
  .input-group .select2 {
    display: table-cell;
  }
}

/*style table th vertical middle*/
.table.table-th-middle > thead > tr > th,
.table.table-th-middle > tbody > tr > th,
.table.table-th-middle > tr > th {
  vertical-align: middle;
}

/*table hover*/
.hover-pink.table-hover > tbody > tr:hover {
  background-color: #f9efef;
}

.label-required:before {
  content: "*";
  color: red;
}

@media screen and (max-width: 767px) {
  .skin-green-light .main-header .navbar {
    background-color: #005a31;
  }
  .skin-blue-light .main-header .navbar {
    background-color: #307095;
  }
  .skin-black-light .main-header > .logo,
  .skin-black-light .main-header > .logo:hover {
    background-color: #41b3f9;
  }
}

@media screen and (min-width: 768px) {
  .main-header .sidebar-toggle {
    margin-left: -50px;
    border-left-width: 0;
    padding: 6px 15px 6px 14px;
    background-color: #e7f0fd;
  }
  .main-header .sidebar-toggle::before {
    font-size: 24px;
  }
  .main-header .logo .logo-lg,
  .main-header .logo .logo-mini {
    color: #41b3f9;
  }
}

/*select 2*/
select.input-sm + .select2-container--default .select2-selection--single,
select.input-sm + .select2-selection .select2-selection--single {
  padding: 4px 12px;
  height: 30px;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  .input-group {
    max-width: 100%;
  }
  .input-group .select2 {
    display: table-cell;
  }
}

/*style table th vertical middle*/
.table.table-th-middle > thead > tr > th,
.table.table-th-middle > tbody > tr > th,
.table.table-th-middle > tr > th {
  vertical-align: middle;
}

/*table hover*/
.hover-pink.table-hover > tbody > tr:hover {
  background-color: #f9efef;
}

.btn-version {
  height: 32px;
  margin-top: 11px;
  line-height: 14px;
  width: 110px;
  white-space: normal;
  margin-right: 15px;
  position: relative;
}

.btn-version .label {
  position: absolute;
  top: -9px;
  right: -9px;
}

.sidebar-menu > li {
  border-left: 2px solid transparent;
}

.sidebar-menu > li.active {
  border-left-style: solid;
}

.language .fa {
  font-size: 12px;
}

.main-sidebar, .left-side {
  padding-top: 52px;
  width: 240px;
}

.content-wrapper, .main-footer {
  margin-left: 240px;
}

.skin-black-light .wrapper {
  background: url(../img/bg_fastbooking.jpg) no-repeat;
  background-size: 100% 100%;
}

.skin-black-light .left-side {
  background-color: #ffffff;
}

.skin-black-light .main-sidebar {
  box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.05);
  border-right-width: 0;
  background-color: rgba(0, 238, 251, 0.7);
  background-image: linear-gradient(to bottom right, rgba(0, 238, 251, 0.7), rgba(52, 37, 189, 0.7));
}

.skin-black-light .content-wrapper,
.skin-black-light .main-footer {
  border-left: none;
}

.skin-black-light .content-wrapper {
  background-color: #f1f1f3;
}

.skin-black-light .sidebar a {
  color: #fff;
  font-size: 16px;
}

.skin-black-light .main-header {
  border-bottom-width: 0;
}

.skin-black-light .main-header > .logo {
  padding: 0 50px 0 0;
  border-right-width: 0;
}

.skin-black-light .main-header .navbar {
  background-color: #039bfc;
  margin-left: 240px;
}

.skin-black-light .main-header .navbar .nav > li > a {
  color: #fff;
}

.skin-black-light .main-header .navbar .nav > li > a:hover,
.skin-black-light .main-header .navbar .nav > li > a:active,
.skin-black-light .main-header .navbar .nav > li > a:focus,
.skin-black-light .main-header .navbar .nav .open > a,
.skin-black-light .main-header .navbar .nav .open > a:hover,
.skin-black-light .main-header .navbar .nav .open > a:focus,
.skin-black-light .main-header .navbar .nav > .active > a {
  background: #41b3f9;
  color: #fff;
}

.skin-black-light .main-header .navbar > .sidebar-toggle {
  color: #3485db;
  border-right-width: 0;
}

.skin-black-light .main-header .navbar > .sidebar-toggle:hover, .skin-black-light .main-header .navbar > .sidebar-toggle:focus {
  color: #fab248;
  background: #e7f0fd;
}

.skin-black-light .main-header .navbar .navbar-custom-menu .navbar-nav > li > a {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
}

.skin-black-light .main-header .navbar .navbar-custom-menu .navbar-nav > li:first-child > a {
  border-left-width: 0;
}

.skin-black-light .main-header .navbar .navbar-custom-menu .navbar-nav > .user-menu .user-image {
  border: 1px solid #fff;
  padding: 2px;
  width: 30px;
  height: 30px;
}

.skin-black-light .sidebar-menu > li > a {
  font-weight: 400 !important;
  padding: 5px;
}

.skin-black-light .sidebar-menu > li > a > span {
  padding-left: 7px;
}

.skin-black-light .sidebar-menu > li:hover > a,
.skin-black-light .sidebar-menu > li.active > a {
  color: #fab248;
  background: transparent;
}

.skin-black-light .sidebar-menu > li.selected {
  border-left-color: transparent;
}

.skin-black-light .sidebar-menu .treeview-menu {
  background: transparent !important;
  padding-left: 20px;
  padding-top: 0;
}

.skin-black-light .sidebar-menu .treeview-menu > li > a {
  color: #fff;
  padding: 5px;
}

.skin-black-light .sidebar-menu .treeview-menu > li > a > .fa, .skin-black-light .sidebar-menu .treeview-menu > li > a > .fas {
  margin-right: 7px;
}

.skin-black-light .sidebar-menu .treeview-menu > li > a:hover,
.skin-black-light .sidebar-menu .treeview-menu > li.selected > a,
.skin-black-light .sidebar-menu .treeview-menu > li.active > a {
  color: #fab248;
  font-weight: 400;
}

.dropdown-user > li > a {
  padding: 9px 20px;
  color: #333;
}

.dropdown-user .dw-user-box {
  padding: 15px;
}

.dropdown-user .dw-user-box .u-img {
  width: 80px;
  display: inline-block;
  vertical-align: top;
}

.dropdown-user .dw-user-box .u-img img {
  width: 100%;
  border-radius: 5px;
}

.dropdown-user .dw-user-box .u-text {
  display: inline-block;
  padding-left: 10px;
}

.dropdown-user .dw-user-box .u-text h4 {
  margin: 0px;
}

.dropdown-user .dw-user-box .u-text p {
  margin-bottom: 3px;
}

.toggle-light .toggle-on, .toggle-light .toggle-select .toggle-inner .active {
  background: #7ace4c;
}

.inputfile-wrap input[type=file] {
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0;
  width: 100%;
}

.inputfile-wrap .input-group-btn {
  position: relative;
}

.imgprev-wrap {
  background: #f7f7f7;
  margin-top: 10px;
  padding: 5px;
  border: 1px dashed #ccc;
  border-radius: 1px;
  width: 100%;
  position: relative;
}

.imgprev-wrap img {
  width: 20%;
}

.imgprev-wrap i.fa.fa-trash {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10px;
  margin: auto;
  height: 28px;
  font-size: 18px;
  cursor: pointer;
}

.login-page, .register-page {
  background: url(../img/bg_fastbooking.jpg) no-repeat;
  background-size: 100% 100%;
  min-height: 100vh;
}

.login-bg {
  background-color: rgba(0, 238, 251, 0.7);
  background-image: linear-gradient(to bottom right, rgba(0, 238, 251, 0.7), rgba(52, 37, 189, 0.7));
  min-height: 100vh;
}

.register-box,
.register-box-company,
.login-box {
  background: rgba(255, 255, 255, 0.87);
  min-height: 100vh;
  width: 100%;
  padding: 7% 45px;
  margin: 0;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

@media screen and (min-width: 768px) {
  .align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  .justify-content-center {
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  .pl-0 {
    padding-left: 0;
  }
}

.register-box-body,
.login-box-body {
  background: transparent;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
}

.register-box-body .register-box-msg,
.register-box-body .reset-box-msg,
.login-box-body .register-box-msg,
.login-box-body .reset-box-msg {
  color: #3189dc;
  text-transform: uppercase;
  font-weight: 500;
}

.register-box-body .reset-box-msg,
.login-box-body .reset-box-msg {
  color: #838484;
  font-size: 16px;
  text-align: center;
  text-transform: none;
}

.register-box-body .text-link,
.login-box-body .text-link {
  color: #3189dc;
  font-size: 16px;
  font-weight: 400;
}

.register-box-body .text-link:hover,
.login-box-body .text-link:hover {
  color: #225cb7;
  text-shadow: 0 1px 1px #225cb7;
  text-decoration: none;
}

.register-box-body .frmLogin,
.login-box-body .frmLogin {
  margin-bottom: 15px;
}

.register-box-body .has-feedback .form-control,
.login-box-body .has-feedback .form-control {
  border: 1px solid rgba(49, 137, 220, 0.57);
  border-radius: 22px;
  font-size: 16px;
  height: 40px;
  background-color: transparent;
  padding-left: 15px;
  font-weight: 400;
}

.register-box-body .has-feedback .form-control:focus,
.register-box-body .has-feedback .form-control:hover,
.login-box-body .has-feedback .form-control:focus,
.login-box-body .has-feedback .form-control:hover {
  border-color: #225cb7;
}

.register-box-body .has-feedback .form-control:-ms-input-placeholder,
.login-box-body .has-feedback .form-control:-ms-input-placeholder {
  color: #747474;
}

.register-box-body .has-feedback .form-control::placeholder,
.login-box-body .has-feedback .form-control::placeholder {
  color: #747474;
}

.register-box-body .has-feedback .form-control-feedback,
.login-box-body .has-feedback .form-control-feedback {
  height: 40px;
  line-height: 40px;
  font-size: 19px;
  color: #747474;
  width: 40px;
}

.register-box-body .checkbox_label,
.login-box-body .checkbox_label {
  font-weight: 400;
  color: #3e3f3f;
  font-size: 16px;
}

.register-box-body .icheckbox_square-blue,
.login-box-body .icheckbox_square-blue {
  border: 1px solid rgba(49, 137, 220, 0.57);
  background-position: -1px -1px;
  margin-right: 5px;
}

.register-box-body .hover,
.login-box-body .hover {
  background-position: -25px -1px;
}

.register-box-body .checked,
.login-box-body .checked {
  background-position: -49px -1px;
}

.register-box-body .btn-login,
.register-box-body .btn-reset,
.register-box-body .btn-register,
.login-box-body .btn-login,
.login-box-body .btn-reset,
.login-box-body .btn-register {
  background-color: #3189dc;
  color: #fff;
  font-weight: 700;
  border-radius: 20px !important;
  height: 40px;
  font-size: 18px;
}

.register-box-body .btn-register,
.register-box-body .btn-reset,
.login-box-body .btn-register,
.login-box-body .btn-reset {
  font-weight: 400;
}

.register-box-body .btn-register,
.login-box-body .btn-register {
  padding-right: 30px;
  padding-left: 30px;
}

.register-box-body .btn-login:hover,
.register-box-body .btn-reset:hover,
.register-box-body .btn-register:hover,
.login-box-body .btn-login:hover,
.login-box-body .btn-reset:hover,
.login-box-body .btn-register:hover {
  background-color: #faaf40;
  border: 1px solid #faaf40;
}

.login-box-body {
  padding: 0 0 40% 0;
}

.register-box-company {
  padding-top: 3%;
  padding-bottom: 2%;
}

.register-box-company .register-box-body {
  padding: 0;
  max-width: none;
  margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
  .register-box-company {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .register-box-company .register-box-body {
    margin-bottom: 15%;
  }
}

.login-footer {
  max-width: 400px;
  margin: 0 auto;
}

.login-footer p {
  margin-bottom: 5px;
  color: #3e3f3f;
  font-size: 16px;
  font-weight: 400;
}

.register-footer p {
  margin-bottom: 5px;
  color: #3e3f3f;
  font-size: 16px;
  font-weight: 400;
}

.login-logo, .register-logo {
  margin-bottom: 30px;
}

.login-logo img, .register-logo img {
  max-width: 200px;
}

.toast-style {
  position: absolute;
  width: 200px;
  height: 30px;
  margin: auto;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #42424285;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

.search-form input[type='text'],
.search-form select {
  width: 150px;
}

/*Table layout for show and form*/
.box-body .nav-tabs {
  border-bottom-width: 0;
}

.box-body .tab-content {
  border: 1px solid #ccc;
  padding: 10px;
}

.box-body .tab-content .table {
  margin-bottom: 0;
}

.table-home .table {
  border: 1px solid #ccc;
  background-color: #fdfeff;
}

.table-home .table tr:first-child td span {
  border-bottom: 2px solid #3485db;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
}

.table-home .table tr:first-child td:nth-child(2) span, .table-home .table tr:first-child td:nth-child(3) span {
  border-bottom-color: #ff5502 !important;
}

.table-home .table tr td:nth-child(1n):not(:nth-child(1)):not(:nth-child(2)) {
  width: 13%;
}

.table-home .table tr td:nth-child(1) {
  width: 14%;
}

.table-home .table tr td {
  font-weight: 400;
  font-size: 15px;
  border: 0;
}

.table-home .table tr td img {
  width: 73px;
  height: 53px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

@media (min-width: 1125px) and (max-width: 1322px) {
  .table-home .table tr:first-child td span {
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .table-home .table tr td {
    padding-right: 5px;
    padding-left: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1124px) {
  .table-responsive {
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .table-home > .table > tbody > tr > td {
    white-space: nowrap;
  }
}

.table-layout tr td:first-child,
.table-layout tr td:nth-child(3) {
  width: 18%;
  font-weight: 500;
}

.table-layout tr td:nth-child(2),
.table-layout tr td:last-child {
  width: 32%;
}

.table-layout tr td {
  border-color: #d2d6de !important;
}

.table-layout .table-content {
  padding: 0;
}

.table-layout .table-layout_child {
  margin-bottom: 0;
}

.table-layout .table-layout_child tr td:first-child {
  width: 18%;
  border-left-width: 0;
}

.table-layout .table-layout_child tr td:last-child {
  width: 82%;
  font-weight: normal;
  border-right-width: 0;
}

.table-layout .table-layout_child tr:first-child td {
  border-top-width: 0;
}

.table-layout .table-layout_child tr:last-child td {
  border-bottom-width: 0;
}

.table-view {
  margin-bottom: 0;
}

.table-view > tbody > tr > td {
  border-top: 0 !important;
}

.table-view__2 > tbody > tr:nth-of-type(2n+1), .table-view__info > tbody > tr:nth-of-type(2n+1) {
  background-color: #fff;
}

.table-footer {
  margin-top: 10px;
}

@media screen and (max-width: 991px) {
  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    right: 0;
  }
}

@media screen and (max-width: 767px) {
  .login-page, .register-page {
    background-size: cover;
  }
  .register-box,
  .register-box-company,
  .login-box {
    padding-left: 15px;
    padding-right: 15px;
  }
  .main-header .sidebar-toggle {
    background-color: #e7f0fd;
    padding: 7px 15px 7px 14px;
  }
  .main-header .sidebar-toggle::before {
    font-size: 24px;
  }
  .content-wrapper, .main-footer {
    margin-left: 0;
  }
  .skin-black-light .main-header .navbar {
    margin-left: 0;
  }
  .main-sidebar {
    transform: translate(-240px, 0);
  }
}

@media screen and (max-width: 479px) {
  .login-box-body {
    padding-bottom: 10%;
  }
}

.galleries {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.galleries .gallery {
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
  max-width: 25%;
  padding-bottom: 15%;
}

.galleries .gallery img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.galleries .gallery i.fa.fa-trash {
  height: auto;
  font-size: 24px;
  top: 10px;
}

.gallery__grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.gallery__grid-fancybox {
  position: relative;
  display: block;
  overflow: hidden;
}

.gallery__grid-fancybox::before {
  content: '';
  display: block;
  padding-bottom: 70%;
}

.gallery__grid-fancybox img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767px) {
  .gallery__grid {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 575px) {
  .gallery__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (min-width: 1200px) {
  .table--layout {
    table-layout: fixed;
  }
  .table--layout td.text-title {
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 1199px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 16.5px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
}

.dropdown-filter {
  padding: 0;
  border-radius: 0;
  min-width: auto;
  left: 56px;
}

.dropdown-filter .select2 {
  width: 200px !important;
}
