.owl-dots {
  margin-top: 40px;
  text-align: center;
  .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #EEEEEE;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid transparent;
    margin-right: 5px;
    margin-left: 5px;
  }
  .owl-dot.active {
    border: 2px solid #5191FA;
    box-sizing: content-box;
    position: relative;
    top: 2px;
    background: transparent;
  }
}