.book-row{
  @include flex(flex,null,null,center,wrap);
  @include space('padding','bottom',5px);
}
.book-btn{
  text-align: left;
  margin-bottom: 30px;
}
.book-total-size{
  font-size: 18px;
}
@media (max-width: 575px) {
  .book-btn{
    text-align: center;
    margin-bottom: 30px;
  }
}
.is-invalid{
  border-color: #e3342f !important;
}