.top-footer {
  background: #fafafa;
  padding: 40px 0px;
  ul {
    li {
      margin-bottom:  10px;
      a{
        font: 500 14px/20px 'Roboto', sans-serif;
        color: #444;
        &:hover{
          color: #eb782c;
        }
        &::before {
          content: "\f35a";
          display: inline-block;
          font: normal normal normal 14px/1 "Font Awesome 5 Free";
          font-size: 14px;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          margin-right: 6px;
          color:#eb7629;
        }
      }
    }
  }
}
.copyright{
  padding: 15px 0;
  border-top: 1px solid #659bda;
  background-color: #659bda;
  font: 400 13px/20px 'Roboto', sans-serif;
  color: #fff;
}