.gallery__grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 30px;
  &-fancybox {
    position: relative;
    display: block;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      padding-bottom: 70%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.gallery_item{
  background-color: #f3f7ff;
  display: block;
  padding: 10px;
  border: 1px solid #1295ff;
  flex: 1 0 0%;
}
@media (max-width: 991px){
  .gallery__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 767px){
  .gallery__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 575px) {
  .gallery__grid {
    grid-template-columns: 1fr;
  }
}
.image-thumb{
  position: relative;
  overflow: hidden;
  display: block;
  padding-bottom: 45%;
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.image-rand{
  padding-bottom: 65%;
}