.header-bot-home{
  position: absolute;
  left: 0;
  right: 0;
  background: #00000038;
  &:after{
    content: none;
  }
  .hk-logo{
    padding: 0;
  }
  .menu{
    li{
      a{
        padding-top: 25px;
        padding-bottom: 25px;
        color: #fff;
      }
      &:first-child{
        a{
          padding-top: 15px !important;
          padding-bottom: 15px !important;
        }
      }
      &:hover{
        a{
          color: #f37121;
          background: transparent;
          &:after{
            bottom: 20px;
          }
        }
        &:first-child{
          a{
            &:after{
              bottom: 10px;
            }
          }
        }
        > ul{
          top: 70px !important;
          background: #f37121ba;
        }
      }
    }
    li.current-menu-item,
    li.active{
      a{
        color: #f37121;
        background: transparent;
      }
      &:first-child{
        a{
          &:after{
            bottom: 10px;
          }
        }
      }
    }
    li.more-menu{
      background: transparent;
    }
    .sub-menu{
      li{
        a{
          color: #fff;
          padding-top: 10px !important;
          padding-bottom: 10px !important;
          &:hover{
            background: #f37121;
          }
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .header-bot-home{
    .menu-mobile{
      margin-top: 25px;
      margin-bottom: 25px;
    }
  }
}
@media (max-width: 767px){
  .header-bot-home{
    position: relative;
    background: #fff;
    .menu-mobile{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .header-bot{
    .menu-mobile{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  .header-container {
    .hk-logo {
      padding-top: 5px;
      padding-bottom: 5px;
      img {
        width: 100px;
      }
    }
  }
  .mm-listview .mm-next:before{
    content: none;
  }
  .btn-js{
    margin-right: 15px;
  }
}