.modal{
  &-download{
    &--info{
      font: 400 16px/22px 'Roboto Conseded', sans-serif;
      margin-bottom: 15px;
    }
    &--form{
      .input-group-right{
        display: table-cell;
        width: 1%;
        white-space: nowrap;
        vertical-align: top;
        .btn-download{
          color: #fff;
          background-color: #f37121;
          border-color: #f37121;
          border-radius: 0;
          border-width: 2px;
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }
    }
    .form-control {
      border-color: #f37121 !important;
      height: 40px;
    }
  }
  &-js.in{
    .modal-dialog{
      @include css3-animation(transform, translate(0px,50px))
    }
  }
}