.top-content{
  display: flex;
  align-items: center;
  align-content: center;
}
.rslides_nav{
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  left: 0;
  opacity: 0.7;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url($path-image + "themes.gif") no-repeat left top;
  opacity: .3;
}
.rslides_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}
@media (max-width: 991px){
  .rslides_nav{
    width: 19px;
    height: 30px;
    background-size: 200%;
  }
}
@media (max-width: 478px){
  .rslides {
    img{
      height: 200px;
      object-fit: cover;
    }
  }
}
.slide_khachhang{
  .slick-track{
    display: flex;
  }
  .slick-slide{
    height: inherit;
    display: flex;
  }
}