.tour-discount{
  position: absolute;
  color: #fff;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 5px;
  left: 5px;
  background: #e00;
  border-radius: 50%;
  z-index: 99;
  text-align: center;
  line-height: 40px;
}