@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/fonts";
@import "base/global";
@import "layout/destination";
@import "layout/galleries";
@import "layout/animates";
@import "layout/hotline";
@import "layout/sliders";
@import "layout/modalDownload";
@import "layout/tours";
@import "layout/header";
@import "layout/book";
/*Css default*/
.lazyload {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}
.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
.fa-loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1000;
}
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.6);
  z-index: 4;
  cursor: pointer;
}
.header-container {
  display: flex;
  align-items: center;
  .hk-logo {
    img {
      height: auto !important;
      max-height: 70px;
    }
  }
  .hk-menu {
    margin-left: auto;
  }
}
.slider-cat{
  .carousel-inner{
    >.item{
      >a{
        display: block;
        overflow: hidden;
        padding-bottom: 50%;
        > img{
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.owl-carousel-tour{
   .owl-nav {
     position: absolute;
     top: 45%;
     right: 0;
     left: 0;
     transform: translateY(-45%);
     [class*=owl-]{
       background: transparent;
       &:hover{
         background: transparent;
       }
     }
   }
 }
.owl-carousel-banner{
  .owl-nav {
    .owl-prev,.owl-next{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
    }
    .owl-prev{
      left: 10px;
    }
    .owl-next{
      right: 10px;
    }
    [class*=owl-]:hover{
      background: #1295ff;
    }
  }
}
.link-img{
  position: relative;
  display: block;
  overflow: hidden;
  float: left;
  width: 100px;
  margin-right: 15px;
  > img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.link-img::before{
  content: "";
  display: block;
  padding-bottom: 80%;
}
.list-post{
  > .img {
    width: 200px;
  }
  > .img::before{
    padding-bottom: 75%;
  }
}
.related {
  margin-bottom: 20px;
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .link-img {
    width: 100%;
    margin-right: 0;
    float: none;
  }
}
.footer-call{
  padding-right: 0;
}
.post-content {
  img{
    max-width: 100%;
    height: auto !important;
  }
}
ul.nav.nav-tabs{
  z-index: 1;
}
ul.nav.nav-tabs li.active a{
  background-color: rgba(0,121,218,0.7) !important;
}
.box-search{
  margin-top: 30px;
  margin-bottom: 15px;
  .tabs-box{
    .tab-content {
      background-color: #1295ff !important;
      padding: 30px 30px 15px;
      border-radius: 3px;
      box-shadow: 0 2px 3px rgba(0, 121, 218, 0.7);
      .form-control {
        height: 42px;
        border: none;
      }
      .btn--fixed{
        display: flex;
        justify-content: space-between;
        position: relative;
        &:after{
          content: '';
          position: absolute;
          border-color: #000 transparent transparent transparent;
          border-style: solid;
          border-width: 5px 4px 0 4px;
          right: 7px;
          margin-top: -2px;
          top: 50%;
        }
      }
      .dropdown-menu--fixed{
        border-radius: 0;
        margin-top: 0;
        width: calc(100% - 60px);
        left: 15px;
        background-color: rgba(0, 121, 218, 0.7);
        padding: 15px;
      }
      .button-tour{
        height: 42px;
        border-radius: 0;
        padding: 6px 12px;
        text-transform: none;
        font: 700 16px/20px 'Roboto Condensed', sans-serif;
        background-color: #00589f;
        color: #fff;
      }
    }
  }
}
.why-us {
  background: #f1f1f1;
  padding: 30px 15px 0;
  &--title {
    text-align: center;
    color: #1295ff;
    font: 400 25px/normal 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  &--row {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  .box-search{
    .container {
      width: 870px !important;
      max-width: 100%;
    }
  }
}
.lst-items {
  a.img{
    height: auto;
    padding-bottom: 65%;
    img{
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    .tour-installment{
      position: absolute;
      color: #fff;
      bottom: 5px;
      left: 5px;
      background: #f28902;
      padding: 2px 8px;
      border-radius: 5px;
      z-index: 99;
      text-align: center;
    }
  }
  .tour--price {
    display: flex;
    justify-content: space-between;
  }
}
.post-content {
  .book-woo {
    position: relative;
  }
}
.services-info {
  .services-info__title {
    font-family: Uhk-Face;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .services-info__payment {
    display: flex;
  }
  .services-info__box {
    .box-radio-method {
      flex: 1;
      .radio-method{
        display: none;
      }
      .mar-radio-method {
        margin: 0 10px 0 0;
        width: calc(100% - 10px);
        border-radius: 4px;
        line-height: 40px;
        color: #000;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        background: #bfe2bf;
        cursor: pointer;
        > i{
          display: none;
          float: right;
          padding-right: 16px;
          line-height: 40px;
        }
      }
      input[type="radio"]:checked {
        + .mar-radio-method {
          background: #5cb85c;
          color: #fff;
          > i{
            display: block;
          }
        }
      }

    }
    label{
      font-size: 16px;
    }
    .form-control {
      border: 1px solid #7cc5ff;
    }
  }
  .services-info__btn {
    .checkout-btn {
      background: #1295ff;
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 14px;
      padding: 12px 20px;
      font: 700 15px/18px UtmAvo,sans-serif;
      display: inline-flex;
      color: #fff;
      margin-top: 30px;
      margin-bottom: 15px;
    }
    .checkout-btn:hover {
      background: #12991f !important;
      text-decoration: none;
    }
  }
}
.booking-info {
  h3 {
    a:visited, a {
      font: 400 18px/20px 'Roboto Condensed',sans-serif;
      color: #1295ff;
      text-transform: uppercase;
      display: flex;
      margin-bottom: 5px;
    }
  }
  .txt-blk {
    p {
      .fa{
        color: #1295ff;
        width: 13px;
      }
    }
    .book-total,.book-total__payment{
      color: #eb7629;
      font-weight: 500;
      font-size: 22px;
    }
    .book-payment__total{
      border-top: 2px solid #ccc;
      margin-top: 5px;
      padding-top: 10px;
      h3{
        font-size: 18px;
        margin-bottom: 5px;
      }
      p{
        margin-bottom: 0;
      }
    }
  }
}
.booking-installment{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  h3 {
    a:visited, a {
      display: inline-block;
    }
  }
  .txt-blk {
    font-size: 14px;
  }
}
.info-installment{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.frm-installment{
  .form-control{
    margin-bottom: 0 !important;
    color: #555 !important;
  }
}
.sidebar {
  .info-nws {
    .row{
      display: flex;
      flex-wrap: wrap;
    }
  }
}
.hs-modal{
  .modal-title{
    font: 400 23px/normal 'Uhk-Face', sans-serif;
    color: #1295ff;
  }
  .modal-img{
    margin-bottom: 15px;
  }
  .modal-body {
    .form-control{
      border: 1.8px solid #359AFB;
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 11px;
      color: #12942A;
      font-size: 14px;
      font-family: Roboto;
    }
  }
  .modal-btn{
    border-radius: 50px;
    padding: 7px 30px;
  }
  .checkbox-register__label{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .checkbox-register__terms{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkbox-register__checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    background-color: #359AFB;
  }
  .checkbox-register__checkmark::after{
    left: 9px;
    top: 5px;
    width: 10px;
    height: 15px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    position: absolute;
    display: none;
  }
  .checkbox-register__label input:checked~.checkbox-register__checkmark:after{
    display: block;
  }
}
.cat-tour{
  padding-top: 40px;
  padding-bottom: 15px;
  .owl-carousel {
    .owl-item {
      .item {
        display: block;
        overflow: hidden;
        position: relative;
        &::before {
          content: '';
          padding-bottom: 30%;
          display: block;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .cat-tour {
    padding-top: 15px;
    margin-bottom: 0;
    .owl-carousel {
      .owl-item {
        .item{
          &::before{
            padding-bottom: 17%;
          }
        }
      }
    }
  }
  .booking-installment{
    display: inline-block;
    h3{
      padding-top: 10px;
    }
  }
  .m-box-search{
    display: none;
  }
}
.slider-tour{
  margin-bottom: 0;
  .imageGallery{
    height: 412px !important;
    .active{
      img{
        width: 100% !important;
        display: block;
        height: 100%;
      }
    }
  }
  &--img{
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
.lSSlideOuter .lSGallery li, .lSSlideOuter .lightSlider>*{
  height: 100%;
}
.social-box{
  margin-left: 10px;
}
.tour__grid-container{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  .grid__col-1{
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (max-width: 991px) {
  .tour__grid-container{
    grid-template-columns: 100%;
    .grid__col-1 {
      grid-column-end: 2;
    }
  }
  .box-search{
    margin-top: 0;
    .container {
      .tabs-box {
        top: 15px;
        left: 0;
        right: 0;
        padding-right: 0;
        .tab-content {
          padding: 15px;
          .dropdown-menu--fixed {
            width: 100%;
          }
        }
      }
    }
  }
  .why-us {
    &--title{
      margin-bottom: 30px;
    }
    &--choose {
      margin-bottom: 25px;
      p{
        margin-left: 45px;
        margin-top: 5px;
      }
    }
  }
  .owl-carousel-tour{
    .owl-nav{
      top: -55px;
      .owl-prev{
        button.slick-prev{
          top: 0;
          left: auto;
          right: 30px;
        }
      }
      .owl-next{
        button.slick-next{
          top: 0;
          right: 0;
        }
      }
    }
  }
}
.tour-container {
  .hk-block {
    margin-bottom: $mb-30;
    .hk-title {
      margin-bottom: $mb-15;
    }
    .lst-items {
      ul {
        li {
          margin-bottom: 0;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .tour-container {
    .hk-block {
      margin-bottom: $mb-15;
    }
  }
  .box-search{
    margin-bottom: 0;
    .container{
      .tabs-box{
        top: 0;
      }
    }
  }
  .owl-carousel-tour {
    .owl-nav {
      left: 80%;
    }
  }
}
.tour {
  &__title {
    font: 400 20px/normal Uhk-Face,sans-serif;
    color: #222;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 8px;
  }
  &__code {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__description {
    padding: 15px;
    background-color: #f1f1f1;
    .tour__box {
      margin-bottom: 15px;
      border-bottom: 1px dotted #ccc;
      padding-bottom: 15px;
    }
    &-star {
      span {
        color: #fdcb0c;
        font-size: 20px;
        margin-right: 10px;
      }
    }
    &-price{
      .price{
        color: #e00;
        text-transform: uppercase;
        font-weight: 600!important;
        font: 400 24px/20px Roboto,sans-serif;
      }
    }
  }
}
.fs16{
  font-size: 16px;
}
.mb10{
  @extend .mb-10;
}
.lst-items {
  ul {
    li {
      width: 25%;
    }
  }
}
@media (max-width: 1199px) {
  .loai-tour {
    .owl-nav {
      top: 32%;
      margin-top: 0;
    }
  }
  .lst-items {
    ul {
      li {
        width: 33.33%;
      }
    }
  }
  .tour__description{
    &-price{
      .price{
        font-size: 20px;
      }
    }
  }
}
.tour__content{
  .post-content{
    padding-right: 15px;
    position: relative;
  }
}
.comment__items{
  background-color: #fdfdfd;
  padding-bottom: 30px;
  h4 {
    font-size: 18px;
    margin: 10px;
  }
  .row::after {
    content: '';
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    border-bottom: 1px solid #b7b7b7;
  }
  p {
    width: 93%;
    margin: 0 auto !important;
  }
}
.comment__title{
  border-bottom: 1px dashed #ccc;
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #1295ff;
  font-weight: 500;
}
.comment__frm{
  &-control{
    border: 1px solid #7cc5ff;
    font-family: Roboto;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
  }
  &-btn{
    padding: 8px 25px;
    border-radius: 3px;
    background-color: #2d9bf3;
    border: 0;
    color: #fff;
  }
}
@media (max-width: 991px){
  .mb-m-15 {
    margin-bottom: 15px;
  }
  li.more-menu{
    width: auto;
    a{
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }
  .top-content{
    padding-top: 0;
    padding-bottom: 0;
  }
  .rslides_tabs{
    bottom: auto;
    margin-top: 7px;
  }
  .slider-cat{
    margin-bottom: 0;
  }
  .left-single{
    margin-bottom: 10px;
    h3{
      margin-top: 5px;
      margin-bottom: 10px;
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 5px;
        padding-right: 5px;
        .img{
          position: relative;
          display: block;
          overflow: hidden;
          padding-bottom: 70%;
          img{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
          }
        }
      }
    }
  }
  input#author, input#email{
    width: 100%;
  }
  .single-page {
    .tab-content {
      border: 0;
    }
  }
  .footer-bot {
    display: none;
  }
  .tab-content{
    .form-control{
      margin-bottom: 0;
    }
  }
}
@media (max-width: 767px) {
  .lst-items {
    ul {
      li {
        width: 50%;
      }
    }
  }
  .woocommerce {
    table.shop_table{
      width: 767px !important;
    }
  }
  .banner{
    margin-bottom: 15px;
  }
  .box-search .tabs-box .tab-content .dropdown-menu--fixed {
    position: relative;
    top: 76%;
    left: 0;
  }
  .tab-content--m {
    padding: 15px;
    background-color: #1295ff !important;
    box-shadow: 0 2px 3px rgba(0, 121, 218, 0.7);
  }
}
@media (max-width: 478px) {
  .lst-items {
    ul {
      li {
        width: 100%;
      }
    }
  }
}
@media (min-width: 992px){
  .pr15{
    padding-right: 0;
  }
}
.shcedule__intro {
  margin-bottom: 25px;
}
.schedule {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  &__day {
    flex: 0 0 15%;
    max-width: 15%;
    font-size: 20px;
    font-weight: bold;
    color: #e00;
  }
  &__desc {
    position: relative;
    flex: 0 0 70%;
    max-width: 70%;
    padding-bottom: 5px;
    &_border {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      width: 3px;
      background-color: #ccc;
      left: -10%;
      &::after {
        content: "";
        background: #1295ff;
        border: 3px solid #ff5722;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        margin-top: -9px;
        left: -9px;
        width: 20px;
        height: 20px;
      }
    }
    &_title {
      color: #1295ff;
      font-weight: 500;
      border-bottom: 1px dashed #ccc;
      padding-bottom: 5px;
      margin-bottom: 10px;
      font-size: 20px;
    }
    &_content {
      max-height: 75px;
      overflow: hidden;
      position: relative;
      &::after {
        content: '';
        background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.8) 35%, #fff 100%);
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.8) 35%, #fff 100%);
        height: 10px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
      }
    }
  }
  &-btn {
    color: #ac0404;
    font-weight: 500;
    &:hover {
      color: #ac0404;
    }
    &:focus {
      outline: 0 !important;
    }
  }
}
@media (max-width: 575px) {
  .schedule {
    flex-wrap: wrap;
    &__day {
      flex: 0 0 100%;
      max-width: 100%;
    }
    &__desc {
      flex: 0 0 100%;
      max-width: 100%;
      margin-left: 0;
      &-border {
        display: none;
      }
    }
  }
  .hk-title {
    margin-bottom: 15px;
    h2 {
      font-size: 20px;
      padding-right: 0;
    }
  }
  .hk-block {
    button {
      top: -50px;
    }
  }
  .lst-items ul li{
    width: 100%;
  }
  .visao{
    padding-top: 15px;
    padding-bottom: 15px;
    .title {
      margin-bottom: 25px;
    }
    .list-choose {
      margin-bottom: 15px;
    }
  }
  .list-post > .img{
    width: 100%;
  }
  .slider-tour {
    .imageGallery {
      height: auto !important;
    }
  }
}
/*Custom select2*/
.tour-select {
  .select2 {
    width: 100% !important;
  }
  .select2-container {
    .select2-selection--single {
      height: 42px;
      border: none;
    }
  }
  .select2-container--default {
    .select2-selection--single {
      border-radius: 0;
      .select2-selection__rendered {
        font: 400 14px/42px 'Roboto Condensed', sans-serif;
        color: #000;
        padding-left: 15px;
      }
      .select2-selection__arrow {
        height: 40px;
        b {
          border-color: #000 transparent transparent transparent;
        }
      }
    }
  }
}
.tour-select--cat {
  .select2-container {
    .select2-selection--single {
      height: 34px;
      border: none;
    }
  }
  .select2-container--default {
    .select2-selection--single {
      .select2-selection__rendered {
        font: 400 14px/34px 'Roboto Condensed', sans-serif;
        color: #000;
        padding-left: 15px;
      }
      .select2-selection__arrow {
        height: 32px;
      }
    }
  }
}
.home {
  .select2-results__option {
    font: 400 14px/20px 'Roboto Condensed', sans-serif;
    padding-left: 12px;
  }
  .select2-dropdown {
    border: none;
  }
}
.back-to-top{
  bottom: 55px;
}
.input-name .txt-name::-webkit-input-placeholder{
  color: #000;
}
.input-name .txt-name::-moz-placeholder{
  color: #000;
}
.input-name .txt-name:-ms-input-placeholder{
  color: #000;
}
.input-name .txt-name:-moz-placeholder{
  color: #000;
}
