.owl-dots {
  margin-top: 40px;
  text-align: center;
  .owl-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #EEEEEE;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid transparent;
    margin-right: 5px;
    margin-left: 5px;
  }
  .owl-dot.active {
    border: 2px solid #5191FA;
    box-sizing: content-box;
    position: relative;
    top: 2px;
    background: transparent;
  }
}
.service-title {
  height: 45px;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  a {
    height: 45px !important;
  }
}
.service-price{
  .icon {
    width: 15px;
    height: 15px;
  }
}
.mb-10{
  margin-bottom: 10px;
}
.thumb-responsive{
  a {
    position: relative;
    &:before{
      padding-bottom: 70%;
      content: "";
      display: block;
    }
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.article img{
  max-width: 100%;
  height: auto !important;
}
#st-content-wrapper.st-single-tour{
  .carousel {
    overflow: hidden;
    max-height: 500px;
    img {
      min-height: 350px;
      object-fit: cover;
    }
  }
  .modern-search-result {
    margin-top: 40px;
    .tour-item-service {
      margin-bottom: 30px;
      .thumb{
        a{
          img{
            transition: all .3s;
            min-width: 100%;
          }
        }
        a:hover{
          img{
            transform: scale(1.1);
          }
        }
      }
    }
    .quatrang{
      margin: 0 auto;
      text-align: center;
    }
    .pagination {
      display: inline-block !important;
      li{
        span {
          margin-right: 12px;
          border-radius: 0 !important;
        }
        a {
          border-radius: 0 !important;
          margin-right: 12px;
          color: #777;
        }
      }
      .active{
        span {
          background-color: #5191fa;
          border-color: #5191fa;
          color: #fff;
        }
      }
    }
  }
  .grid-item{
    .service-location{
      font-size: 13px;
      color: #5e6d77;
      .fa{
        position: relative;
        top: 3px;
        left: -2px;
      }
    }
    .service-review{
      .review-child {
        margin-bottom: 6px;
      }
      .service-start-day{
        i {
          font-size: 15px;
          color: #ffdc00;
        }
      }
      .service-duration{
        i {
          padding-left: 1px;
        }
      }
      .review{
        margin-left: 10px;
        position: relative;
        top: -1px;
        font-size: 13px;
        color: #768092;
      }
    }
    .section-footer{
      float: right;
      .footer-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
.search-result-page{
  .st-hotel-result{
    .item-service{
      .service-review {
        flex-direction: column;
        align-items: flex-start;
        .review-child {
          margin-bottom: 6px;
        }
        .service-start-day{
          i {
            font-size: 15px;
            color: #ffdc00;
          }
        }
        .service-duration{
          i {
            padding-left: 1px;
          }
        }
      }
      .service-border{
        .section-footer{
          float: right;
        }
      }
    }
  }
}
.wpb_wrapper{
  .footer-socials{
    li{
      i{
        padding-right: 32px;
        color: #a0a9b2;
        font-size: 20px;
      }
    }
  }
}
#main-footer{
  .menu {
    li {
      span {
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 400;
        display: block;
        color: #1a2b48;
      }
    }
  }
}
.mb-auto{
  margin-bottom: auto;
}
.tour__items{
  margin-top: 40px;
  &-sort{
    display: flex;
    justify-content: flex-end;
    .tour-order{
      border-radius: 3px;
      padding: 8px 20px;
    }
  }
  .tour__item{
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
    .item__row{
      display: flex;
      flex-wrap: wrap;
      .item__content{
        font-size: 16px;
      }
      .item__header{
        position: relative;
        .item__featured{
          background-color: #19a1e5;
          -webkit-border-radius: 0 3px 3px 0;
          -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
          padding: 6px 10px;
          position: absolute;
          top: 20px;
          color: #fff;
          font-weight: 500;
          z-index: 1;
        }
        .item__link{
          color: #1A2B50;
          overflow: hidden;
          display: block;
        }
        .item__link .item__image{
          -webkit-border-radius: 5px 0 0 5px;
          -moz-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -ms-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
        }
        .item__link:hover .item__image{
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -ms-transform: scale(1.1);
          -o-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
      .item__body{
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;
        border-right: 1px solid #ccc;
        .item__title{
          font-size: 20px;
          line-height: 26px;
        }
        .item__link{
          color: #1A2B50;
        }
        .item__link:hover{
          text-decoration: none;
        }
        .item__location{
          display: flex;
          align-items: center;
          font-size: 16px;
        }
      }
      .item__footer{
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;
        .item__price{
          font-size: 20px;
          font-weight: 500;
          display: flex;
          align-items: center;
        }
        .item__content {
          .fa{
            margin-right: 5px;
          }
          .fa-bus{
            color: #ffdc00;
          }
          .service{
            margin-bottom: 10px;
          }
        }
        .item__view{
          display: flex;
          justify-content: center;
        }
        .item__view--link{
          border: 1px solid #204d74;
          color: #23527c;
          padding: 9px 25px;
          border-radius: 5px;
          text-transform: uppercase;
          font-weight: 500;
          font-size: 16px;
          -webkit-transition: ease-in 300ms;
          -moz-transition: ease-in 300ms;
          -ms-transition: ease-in 300ms;
          -o-transition: ease-in 300ms;
          transition: ease-in 300ms;
        }
        .item__view--link:hover{
          color: #23527c;
          -webkit-box-shadow: -2px 2px #204d74;
          -moz-box-shadow: -2px 2px #204d74;
          box-shadow: -2px 2px #204d74;
          text-decoration: none;
          -webkit-transition: ease-out 300ms;
          -moz-transition: ease-out 300ms;
          -ms-transition: ease-out 300ms;
          -o-transition: ease-out 300ms;
          transition: ease-out 300ms;
        }
      }
    }
  }
}
#st-content-wrapper {
  .pagination{
    display: flex;
    justify-content: center;
  }
  .pagination>li>a, .pagination>li>span{
    border-color: transparent;
  }
  .pagination>.active>span,.pagination>li>a:hover{
    border-color: #5191FA;
    background-color: transparent;
    color: #5191FA;
    border-radius: 3px;
  }
}
.error{
  &__title{
    color: #1A2B48;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.3;
  }
  &__description{
    margin-top: 15px;
    font-size: 18px;
  }
}
.news--row{
  display: flex;
  flex-wrap: wrap;
}
.news--body{
  flex: 1 1 auto;
}
.services-info {
  &__payment {
    display: flex;
  }
  &__box {
    .box-radio-method {
      flex: 1;
      .radio-method{
        display: none;
      }
      .mar-radio-method {
        margin: 0 10px 0 0;
        width: calc(100% - 10px);
        border-radius: 4px;
        line-height: 40px;
        color: #000;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        background: #bfe2bf;
        cursor: pointer;
        > i{
          display: none;
          float: right;
          padding-right: 16px;
          line-height: 40px;
        }
      }
      input[type="radio"]:checked {
        + .mar-radio-method {
          background: #5cb85c;
          color: #fff;
          > i{
            display: block;
          }
        }
      }
    }
  }
  &__btn{
    margin-top: 30px;
  }
}
.st-checkout-page{
  position: relative;
}
#overlay{
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.1);
  z-index: 4;
  cursor: pointer;
}
#overlay, .fa-loading{
  position: absolute;
  left: 0;
  right: 0;
}
.fa-loading{
  top: 50%;
  z-index: 1000;
}

@media (min-width: 768px) {
  .order__label{
    width: 38% !important;
  }
}
