@import "print";

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// FullHD screen
//**Deprecated `$screen-fhd`
$screen-fhd:                1440px !default;
$screen-fhd-min:            $screen-fhd !default;

// So media queries don't overlap when required, provide a maximum
$screen:                     ($screen-xs-min - 1) !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-xl-max:              ($screen-fhd-min - 1) !default;


$blue-hs: #41b3f9;
$menu-color: #54667a;
$blue-navbar: #039bfc;

$hover-pink-color: #f9efef;
body{
    color:#333333;
    font-family: 'Roboto', sans-serif;
}
/*logo*/
.logo-mini{
    img{width: 100%}
}
.logo-lg{
    height:100%;
    img{width: auto;height: 40px;display: block;margin: 5px auto;}
}

.main-footer {
    background: #f1f1f3;
    padding: 9px 15px;
    color: #3e3f3f;
    border-top: none;
    font-size: 15px;
    font-weight: 400;
    a{
        color: #3e3f3f;
    }
    span:first-child{
        > a{
            border-bottom: 1px solid #3189dc;
        }
    }
}
ul.pagination{margin: 0;}
/*select 2*/
select.input-sm + .select2-container--default .select2-selection--single,
select.input-sm + .select2-selection .select2-selection--single{
    padding: 4px 12px;
    height: 30px;
    font-size: 12px;
}
.input-group{
    @media screen and (max-width: $screen-xs-max) {
        max-width:100%;
        .select2{
            display: table-cell;
        }
    }
}
/*style table th vertical middle*/
.table.table-th-middle > thead > tr > th,
.table.table-th-middle > tbody > tr > th,
.table.table-th-middle > tr > th{vertical-align: middle}
/*table hover*/
.hover-pink.table-hover > tbody > tr:hover{
    background-color: $hover-pink-color;
}

.label-required:before{
    content: "*";
    color: red;
}
@media screen and (max-width: $screen-xs-max) {
    .skin-green-light .main-header .navbar {
        background-color: #005a31;
    }
    .skin-blue-light .main-header .navbar {
        background-color: darken(#3c8dbc,10%);
    }
    .skin-black-light{
        .main-header{
            > .logo,
            > .logo:hover{
                background-color: $blue-hs;
            }
        }
    }
}
@media screen and (min-width: $screen-sm-min) {
    .main-header{
        .sidebar-toggle{
            margin-left: -50px;
            border-left-width: 0;
            padding: 6px 15px 6px 14px;
            background-color: #e7f0fd;
        }
        .sidebar-toggle::before{
            font-size: 24px;
        }
    }
    .main-header{
        .logo{
            .logo-lg,
            .logo-mini{
                color: $blue-hs;
            }
        }
    }
}
/*select 2*/
select.input-sm + .select2-container--default .select2-selection--single,
select.input-sm + .select2-selection .select2-selection--single{
    padding: 4px 12px;
    height: 30px;
    font-size: 12px;
}

.input-group{
    @media screen and (max-width: $screen-xs-max) {
        max-width:100%;
        .select2{
            display: table-cell;
        }
    }
}
/*style table th vertical middle*/
.table.table-th-middle > thead > tr > th,
.table.table-th-middle > tbody > tr > th,
.table.table-th-middle > tr > th{vertical-align: middle}
/*table hover*/
.hover-pink.table-hover > tbody > tr:hover{
    background-color: $hover-pink-color;
}
.btn-version{
    height: 32px;
    margin-top: 11px;
    line-height: 14px;
    width: 110px;
    white-space: normal;
    margin-right: 15px;
    position: relative;
    .label{
        position: absolute;
        top: -9px;
        right: -9px;
    }
}
.sidebar-menu{
    >li{
        border-left: 2px solid transparent;
    }
    >li.active{
        border-left-style: solid;
    }
}
.language{
    .fa{
        font-size:12px;
    }
}
.main-sidebar, .left-side{
    padding-top: 52px;
    width: 240px;
}
.content-wrapper, .main-footer{
    margin-left: 240px;
}
.skin-black-light {
    .wrapper{
        background: url(../img/bg_fastbooking.jpg) no-repeat;
        background-size: 100% 100%;
    }
    .left-side {
        background-color: #ffffff;
    }
    .main-sidebar{
        box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.05);
        border-right-width: 0;
        background-color: rgba(0, 238, 251, 0.7);
        background-image: linear-gradient(to bottom right, rgba(0, 238, 251, 0.7), rgba(52, 37, 189, 0.7));
    }
    .content-wrapper,
    .main-footer{
        border-left: none;
    }
    .content-wrapper{
        background-color: #f1f1f3;
    }
    .sidebar {
        a {
            color: #fff;
            font-size: 16px;
        }
    }
    .main-header {
        border-bottom-width: 0;
        > .logo{
            padding: 0 50px 0 0;
            border-right-width: 0;
        }
        .navbar {
            background-color: $blue-navbar;
            margin-left: 240px;
            .nav {
                > li > a {
                    color: #fff;
                }
                > li > a:hover,
                > li > a:active,
                > li > a:focus,
                .open > a,
                .open > a:hover,
                .open > a:focus,
                > .active > a {
                    background: $blue-hs;
                    color: #fff;
                }
            }
            > .sidebar-toggle{
                color: #3485db;
                border-right-width: 0;
            }
            > .sidebar-toggle:hover,> .sidebar-toggle:focus{
                color: #fab248;
                background: #e7f0fd;
            }
            .navbar-custom-menu {
                .navbar-nav{
                    > li{
                        > a{
                            color: #fff;
                            font-weight: 400;
                            font-size: 16px;
                        }
                    }
                    > li:first-child {
                        > a{
                            border-left-width: 0;
                        }
                    }
                    > .user-menu{
                        .user-image{
                            border: 1px solid #fff;
                            padding: 2px;
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
    .sidebar-menu {
        > li > a {
            font-weight: 400 !important;
            padding: 5px;
            > span {
                padding-left: 7px;
            }
        }
        > li:hover > a,
        > li.active > a {
            color: #fab248;
            background: transparent;
        }
        > li.selected {
            border-left-color: transparent;
        }
        .treeview-menu{
            background: transparent !important;
            padding-left: 20px;
            padding-top: 0;
            > li > a {
                color: #fff;
                padding: 5px;
                > .fa, > .fas {
                    margin-right: 7px;
                }
            }
            > li > a:hover,
            > li.selected > a,
            > li.active > a{
                color: #fab248;
                font-weight: 400;
            }
        }
    }
}
.dropdown-user {
    > li > a {
        padding: 9px 20px;
        color: #333;
    }
    .dw-user-box {
        padding: 15px;
        .u-img {
            width: 80px;
            display: inline-block;
            vertical-align: top;
            img {
                width: 100%;
                border-radius: 5px;
            }
        }
        .u-text {
            display: inline-block;
            padding-left: 10px;
            h4 {
                margin: 0px;
            }
            p {
                margin-bottom: 3px;
            }
        }
    }
}
.toggle-light .toggle-on, .toggle-light .toggle-select .toggle-inner .active{
    background: #7ace4c;
}
.inputfile-wrap {
    input[type=file] {
        position: absolute;
        top: 0;
        height: 100%;
        opacity: 0;
        width: 100%;
    }
    .input-group-btn {
        position: relative;
    }
}
.imgprev-wrap {
    background: #f7f7f7;
    margin-top: 10px;
    padding: 5px;
    border: 1px dashed #ccc;
    border-radius: 1px;
    width: 100%;
    position: relative;
    img {
        width: 20%;
    }
    i.fa.fa-trash {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10px;
        margin: auto;
        height: 28px;
        font-size: 18px;
        cursor: pointer;
    }
}
//Login, register
.login-page,.register-page{
    background: url(../img/bg_fastbooking.jpg) no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}
.login-bg{
    background-color: rgba(0, 238, 251,0.7);
    background-image: linear-gradient(to bottom right, rgba(0, 238, 251,0.7), rgba(52, 37, 189,0.7));
    min-height: 100vh;
}
.register-box,
.register-box-company,
.login-box{
    background: rgba(255, 255, 255, 0.87);
    min-height: 100vh;
    width: 100%;
    padding: 7% 45px;
    margin: 0;
}
.d-flex{
    display: -ms-flexbox!important;
    display: flex!important;
}
@media screen and (min-width: $screen-sm-min) {
    .align-items-center{
        -ms-flex-align: center!important;
        align-items: center!important;
    }
    .justify-content-center{
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .pl-0{
        padding-left: 0;
    }
}

.register-box-body,
.login-box-body {
    background: transparent;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
    .register-box-msg,
    .reset-box-msg{
        color: #3189dc;
        text-transform: uppercase;
        font-weight: 500;
    }
    .reset-box-msg{
        color: #838484;
        font-size: 16px;
        text-align: center;
        text-transform: none;
    }
    .text-link{
        color: #3189dc;
        font-size: 16px;
        font-weight: 400;
    }
    .text-link:hover{
        color: #225cb7;
        text-shadow: 0 1px 1px #225cb7;
        text-decoration: none;
    }
    .frmLogin{
        margin-bottom: 15px;
    }
    .has-feedback{
        .form-control{
            border: 1px solid rgba(49, 137, 220, 0.57);
            border-radius: 22px;
            font-size: 16px;
            height: 40px;
            background-color: transparent;
            padding-left: 15px;
            font-weight: 400;
        }
        .form-control:focus,
        .form-control:hover{
            border-color: #225cb7;
        }
        .form-control::placeholder{
            color: #747474;
        }
        .form-control-feedback{
            height: 40px;
            line-height: 40px;
            font-size: 19px;
            color: #747474;
            width: 40px;
        }
    }
    .checkbox_label{
        font-weight: 400;
        color: #3e3f3f;
        font-size: 16px;
    }
    .icheckbox_square-blue{
        border: 1px solid rgba(49, 137, 220, 0.57);
        background-position: -1px -1px;
        margin-right: 5px;
    }
    .hover{
        background-position: -25px -1px;
    }
    .checked{
        background-position: -49px -1px;
    }
    .btn-login,
    .btn-reset,
    .btn-register{
        background-color: #3189dc;
        color: #fff;
        font-weight: 700;
        border-radius: 20px !important;
        height: 40px;
        font-size: 18px;
    }
    .btn-register,
    .btn-reset{
        font-weight: 400;
    }
    .btn-register{
        padding-right: 30px;
        padding-left: 30px;
    }
    .btn-login:hover,
    .btn-reset:hover,
    .btn-register:hover
    {
        background-color: #faaf40;
        border: 1px solid #faaf40;
    }
}
.login-box-body{
    padding: 0 0 40% 0;
}
.register-box-company{
    padding-top: 3%;
    padding-bottom: 2%;
    .register-box-body{
        padding: 0;
        max-width: none;
        margin-bottom: 40px;
    }
}
@media screen and (min-width: $screen-fhd-min){
    .register-box-company{
        padding-top: 5%;
        padding-bottom: 5%;
        .register-box-body{
            margin-bottom: 15%;
        }
    }
}
.login-footer{
    max-width: 400px;
    margin: 0 auto;
    p{
        margin-bottom: 5px;
        color: #3e3f3f;
        font-size: 16px;
        font-weight: 400;
    }
}
.register-footer{
    p{
        margin-bottom: 5px;
        color: #3e3f3f;
        font-size: 16px;
        font-weight: 400;
    }
}
.login-logo, .register-logo{
    margin-bottom: 30px;
    img {
        max-width: 200px;
    }
}

.toast-style{
    position: absolute;
    width: 200px;
    height: 30px;
    margin: auto;
    z-index: 99999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #42424285;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
.search-form{
    input[type='text'],
    select{
        width: 150px;
    }
}

/*Table layout for show and form*/
.box-body{
    .nav-tabs{
        border-bottom-width: 0;
    }
    .tab-content{
        border: 1px solid #ccc;
        padding: 10px;
        .table{
            margin-bottom: 0;
        }
    }
}
.table-home{
    .table{
        border: 1px solid #ccc;
        background-color: #fdfeff;
        tr:first-child{
            td{
                span{
                    border-bottom: 2px solid #3485db;
                    display: block;
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 18px;
                }
            }
            td:nth-child(2),td:nth-child(3){
                span{
                    border-bottom-color: #ff5502 !important;
                }
            }
        }
        tr{
            td:nth-child(1n):not(:nth-child(1)):not(:nth-child(2)){
                width: 13%;
            }
            td:nth-child(1){
                width: 14%;
            }
            td{
                font-weight: 400;
                font-size: 15px;
                border: 0;
                img{
                    width: 73px;
                    height: 53px;
                    object-fit: cover;
                    margin-right: 10px;
                }
            }
        }

    }
}
@media (min-width: 1125px) and (max-width: 1322px) {
    .table-home{
        .table{
            tr:first-child{
                td{
                    span{
                        font-size: 16px;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                }
            }
            tr{
                td{
                    padding-right: 5px;
                    padding-left: 5px;
                }
            }
        }
    }
}
@media (min-width: $screen-sm-min) and (max-width: 1124px){
    .table-responsive {
        width: 100%;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .table-home{
        > .table{
            > tbody {
                > tr{
                    > td{
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
.table-layout{
    tr{
        td:first-child,
        td:nth-child(3){
            width: 18%;
            font-weight: 500;
        }
        td:nth-child(2),
        td:last-child{
            width: 32%;
        }
        td{
            border-color: #d2d6de !important;
        }
    }
    .table-content{
        padding: 0;
    }
    .table-layout_child{
        margin-bottom: 0;
        tr{
            td:first-child{
                width: 18%;
                border-left-width: 0;
            }
            td:last-child{
                width: 82%;
                font-weight: normal;
                border-right-width: 0;
            }
        }
        tr:first-child{
            td{
                border-top-width: 0;
            }
        }
        tr:last-child{
            td{
                border-bottom-width: 0;
            }
        }
    }
}
.table-view{
    margin-bottom: 0;
}
.table-view>tbody>tr>td{
    border-top: 0 !important;
}
.table-view__2 > tbody > tr:nth-of-type(2n+1), .table-view__info > tbody > tr:nth-of-type(2n+1) {
    background-color: #fff;
}
.table-footer{
    margin-top: 10px;
}
@media screen and (max-width: $screen-sm-max){
    .navbar-custom-menu {
        > .navbar-nav {
            > li {
                > .dropdown-menu{
                    right: 0;
                }
            }
        }
    }
}
@media screen and (max-width: $screen-xs-max) {
    .login-page, .register-page{
        -webkit-background-size: cover;
        background-size: cover;
    }
    .register-box,
    .register-box-company,
    .login-box{
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-header{
        .sidebar-toggle{
            background-color: #e7f0fd;
            padding: 7px 15px 7px 14px;
        }
        .sidebar-toggle::before{
            font-size: 24px;
        }
    }
    .content-wrapper, .main-footer{
        margin-left: 0;
    }
    .skin-black-light{
        .main-header {
            .navbar{
                margin-left: 0;
            }
        }
    }
    .main-sidebar {
        transform: translate(-240px,0);
    }
}
@media screen and (max-width: $screen){
    .login-box-body{
        padding-bottom: 10%;
    }
}

//Layout
@import "layout/galleries";
@import "layout/table-layout";
@import "layout/search";