@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url($path-fonts + "fa-solid-900.eot");
  src: url($path-fonts + "fa-solid-900.eot?#iefix") format("embedded-opentype"),
  url($path-fonts + "fa-solid-900.woff2") format("woff2"),
  url($path-fonts + "fa-solid-900.woff") format("woff"),
  url($path-fonts + "fa-solid-900.ttf") format("truetype"),
  url($path-fonts + "fa-solid-900.svg#fontawesome") format("svg");
}
.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.fa-baby:before {
  content: "\f77c";
}
.fa-phone-alt:before{
  content: "\f879";
}
.fa-18{
  font-size: 18px;
}