@media (min-width: 576px) {
  @include spaceStyle('.pr-','padding-right',$size0);
  @include spaceStyle('.pr-','padding-right',$size5);
  @include spaceStyle('.pr-','padding-right',$size15);
  @include spaceStyle('.pl-','padding-left',$size0);
  @include spaceStyle('.pl-','padding-left',$size5);
  @include spaceStyle('.pl-','padding-left',$size15);
  @include spaceStyle('.ml-','margin-left',$size10);
}
@include spaceStyle('.mb-','margin-bottom',$size10);
@include spaceStyle('.mb-','margin-bottom',$size30);
.btn-none{
  background: none; border: 0;
}
.d-flex{
  display: flex;
}