@import "abstracts/mixins";
@import "abstracts/variables";
@import "base/global";
/*Css default*/
$mb-30: 30px;
$mb-10: 10px;
$mb-15: 15px;
.lazyload {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 400ms, -webkit-filter 400ms;
}
.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}
.fa-loading {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: 1000;
}
#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.6);
  z-index: 4;
  cursor: pointer;
}
.mb-10 {
  margin-bottom: $mb-10;
}
.mb-15{
  margin-bottom: $mb-15;
}
.header-top{
  background-color: #24282e;
}
.header-nav{
  background: url($path-image + 'bg-slider.jpg') no-repeat;
  background-size: cover;
  position: relative;
  .header-bot{position: relative;background: transparent;z-index: 999;}
  .header-map{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &:before{
    @include css-position(absolute, 0, 0, 0, 0);
    content: '';
    background-color: rgba(0,0,0,0.6);
  }
  .header-description{
    color: #fff;
    font: 400 16px/24px 'Roboto', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    p{
      margin-bottom: 10px;
    }
  }
}
.header-container {
  display: flex;
  align-items: center;
  .hk-logo {
    img {
      height: auto !important;
      max-height: 70px;
    }
  }
  .hk-menu {
    margin-left: auto;
  }
}
.slider-cat{
  .carousel-inner{
    >.item{
      >a{
        display: block;
        overflow: hidden;
        padding-bottom: 50%;
        > img{
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.title{
  &-h2{
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $color-text-title;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 50px;
    &:after{
      content: "";
      position: absolute;
      bottom: 0;
      width: 150px;
      display: flex;
      justify-content: center;
      height: 5px;
      background-color: $color-bg-after;
    }
    &--awesome{
      color: #000;
      font: 700 35px/46px 'Roboto', sans-serif;
      margin-bottom: 50px;
      text-align: center;
      span{
        font-weight: 500;
      }
    }
  }
  &-gray{
    color: $color-text-gray;
  }
  &-orange{
    color: $color-text-orange;
  }
  &-white{
    color: $color-white;
  }
}
@media (max-width: 991px){
  .title{
    &-h2{
      font-size: 2.4rem;
    }
  }
}
@media (max-width: 767px){
  .title{
    &-h2{
      font-size: 2rem;
    }
  }
}
.our-blog{
  padding-top: 90px;
  padding-bottom: 90px;
}
.testimonial{
  @extend .our-blog;
  background: url($path-image + "testimonial.jpg") no-repeat;
  background-size: cover;
  position: relative;
  &:before{
    @include css-position(absolute, 0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    content: '';
  }
  .title-h2{
    color: $color-white;
  }
}
.hk-feedback{
  .slick-list{
    background: transparent;
    border: 0;
    .slick-slide{
      .comment{
        font: 300 18px/26px 'Roboto', sans-serif;
        color: #fff;
        padding: 20px 15px;
        background-color: rgba(0,0,0,0.5);
        position: relative;
        margin-bottom: 60px;
        &:after{
          position: absolute;
          bottom: -100px;
          border: 50px solid transparent;
          content: '';
          border-top-color: rgba(0,0,0,0.5);
          border-right-width: 30px;
          border-left-width: 30px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .comment-title{
        font: 400 18px/20px 'Roboto', sans-serif;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}
.lst-news{
  display: flex;
  flex-wrap: wrap;
  .item-title{
    margin-bottom: 20px;
    &--link{
      font: 500 18px/24px 'Roboto', sans-serif;
      color: $color-text-gray;
      position: relative;
      padding-bottom: 10px;
      &:after{
        content: '';
        width: 150px;
        height: 3px;
        background-color: $color-border-item;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
  }
  .item-desc{
    font: 400 16px/26px 'Roboto', sans-serif
  }
}
@media (max-width: 575px){
  .lst-news{
    .col-xs-6{
      width: 100%;
    }
  }
}
.tour-discount{
  position: absolute;
  color: #fff;
  display: inline-block;
  width: 40px;
  height: 40px;
  top: 5px;
  left: 5px;
  background: #e00;
  border-radius: 50%;
  z-index: 99;
  text-align: center;
  line-height: 40px;
}
/*offer tour*/
.tour-offer{
  background: url($path-image + 'bg-offer.jpg') no-repeat;
  background-size: cover;
  position: relative;
  &:before{
    @include css-position(absolute, 0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    content: '';
  }
}
/*partner*/
.partner{
  background-color: $color-bg-partner;
  padding-top: 90px;
  padding-bottom: 90px;
  margin-bottom: 0;
  .item-link{
    img{
      @include css-bordered(1px, dashed, $color-border-item);
      margin-bottom: 0 !important;
    }
    &-search {
      right: 2px;
    }
  }
}
/*Favorite Tour*/
.tour-favorite{
  padding-top: 85px;
}
.tour-item{
  display: flex;
  flex-direction: column;
  .item--link{
    .item--price{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      padding: 10px;
      justify-content: space-between;
      font: 500 16px/20px 'Roboto Condensed', sans-serif;
      color: #f00;
      text-shadow: 0 1px 1px rgba(0,0,0,0.5);
      .price{
        background-color: rgba(243, 113, 33, 0.8);
        border-radius: 9999px;
        padding: 7px 15px;
        color: #fff;
      }
    }
  }
  .item--info{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 15px;
    &-title{
      text-transform: none;
      margin-bottom: 10px;
      height: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .item--link{
        color: #555252;
        font: 700 18px/22px 'Roboto';
        &:hover{
          color: #eb7629;
        }
      }
    }
    .hk-lc{
      font-size: 15px;
    }
  }
}
/*Awesome Tours*/
@media (min-width: 1199px){
  .tour-awesome{
    .container{
      min-width: 1170px !important;
    }
  }
}
.tour-awesome{
  background: url($path-image + 'bg-hue.jpg') no-repeat;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 100px;
  &--row{
    display: flex;
    flex-wrap: wrap;
  }
  .awesome-active{
    margin-top: -20px;
    position: relative;
    margin-bottom: -20px;
    border-radius: 10px;
    &:after{
      position: absolute;
      content: '';
      background: url($path-image + 'bg-border-bot.png') no-repeat 0 -4px;
      background-size: cover;
      bottom: -60px;
      left: -3px;
      right: 0;
      height: 60px;
    }
    .awesome-item--thumb{
      border-radius: 10px 10px 0 0;
    }
  }
}
@media (min-width: 768px){
  .tour-awesome{
    .awesome-active{
      padding-bottom: 10px;
      &:after{
        position: absolute;
        content: '';
        background: url($path-image + 'bg-border-bot.png') no-repeat 0;
        background-size: cover;
        bottom: -50px;
        left: -3px;
        right: 0;
        height: 60px;
      }
      .awesome-item--booking{
        .awesome-btn{
          padding-top: 10px;
          padding-bottom: 10px;
          margin-bottom: 0;

        }
      }
    }
  }
}
@media (min-width: 992px){
  .tour-awesome{
    .awesome-active{
      &:after{
        position: absolute;
        content: '';
        background: url($path-image + 'bg-border-bot.png') no-repeat 0;
        background-size: cover;
        bottom: -68px;
        left: -3px;
        right: 0;
        height: 60px;
      }
    }
  }
}
@media (min-width: 1199px){
  .tour-awesome{
    padding-bottom: 120px;
    .awesome-active{
      &:after{
        position: absolute;
        content: '';
        background: url($path-image + 'bg-border-bot.png') no-repeat 0;
        background-size: cover;
        bottom: -85px;
        left: -4.5px;
        right: 0;
        height: 95px;
      }
    }
  }
}
.awesome-items-colmd-3{
  flex: 0 0 33.33%;
  max-width: 33.33%;
  display: flex;
  flex-direction: column;
}
.awesome-item{
  border-radius: 0 10px 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  background-color: #fff;
  &--thumb{
    border-radius: 0 10px 0 0;
  }
  &--desc{
    padding: 15px;
    text-align: center;
    flex: 1 1 auto;
  }
  &--booking{
    display: flex;
    justify-content: center;
    .awesome-btn{
      border-radius: 5px;
      padding: 7px 25px;
      color: #fff;
      font: 400 16px/20px 'Roboto';
      text-transform: uppercase;
      margin-bottom: 15px;
      background-color: #f37121;
      background-image: linear-gradient(#f37121, #e56a1f);
      border: 1px solid #fac6a6;
      &:hover{
        background-color: #33c2ef;
        background-image: linear-gradient(#33c2ef, #33c2ef00);
        border-color: #33c2ef
      }
    }
  }
  &:first-child{
    border-radius: 10px 0 0 10px;
    .awesome-item--thumb{
      border-radius: 10px 0 0 0;
    }
  }
}
.awesome-desc{
  &-p{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .awesome-title{
    font: 700 26px/28px 'Roboto';
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    a:hover{
      color: #eb7629;
    }
  }
  .awesome-departure{
    margin-bottom: 20px;
  }
  .awesome-price{
    font: 700 26px/20px 'Roboto';
    color: #e00;
    margin-bottom: 15px;
    p:first-child{
      margin-bottom: 5px;
    }
  }
}
@media (max-width: 767px){
  .tour-awesome{
    .container{
      width: 540px;
      max-width: 100%;
    }
  }
  .awesome-items-colmd-3{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .awesome-item{
    border-radius: 10px;
    &--thumb{
      border-radius: 10px 10px 0 0;
    }
    &:first-child{
      border-radius: 10px 10px 0 0;
      padding-bottom: 15px;
      .awesome-item--thumb{
        border-radius: 10px 10px 0 0;
      }
    }
  }
  .awesome-active{
    padding-bottom: 15px;
  }
  .awesome-desc{
    .awesome-title{
      white-space: normal;
    }
  }
}
@media (max-width: 575px) {
  .tour-item{
    .item--info-title{
      white-space: normal;
    }
  }
}
/*Get in touch*/
.hs-contact{
  background: url($path-image + 'bg-contact.jpg') no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  &:before{
    @include css-position(absolute, 0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    content: '';
  }
  .title-h2{
    color: $color-white;
  }
  &-frm{
    .form-group{
      margin-bottom: $mb-30;
    }
    .form-control{
        border-radius: 0;
        min-height: 46px;
        background-color: transparent;
        color: $color-white;
    }
    .button-search{
      background-color: $color-bg-btn;
      width: auto;
      min-height: 36px;
      padding: 5px 45px;
      font-size: 18px;
      text-transform: none;
      border-color: $color-bg-btn;
      border-radius: 0;
      &:hover{
        color: $color-bg-btn;
        background-color: $color-white;
        box-shadow: 0 2px 5px rgba(243, 113, 33, 0.9);
      }
    }
  }
  .hs-form-success{
    color: $color-white;
    font-size: 18px;
  }
}
.owl-carousel-tour{
  .owl-nav {
    position: absolute;
    top: -10px;
    right: 0;
    [class*=owl-]{
      background: transparent;
      &:hover{
        background: transparent;
      }
    }
  }
}
.link-img{
  position: relative;
  display: block;
  overflow: hidden;
  float: left;
  width: 100px;
  margin-right: 15px;
  > img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
.link-img::before{
  content: "";
  display: block;
  padding-bottom: 80%;
}
.list-post{
  > .img {
    width: 200px;
  }
  > .img::before{
    padding-bottom: 75%;
  }
}
.related {
  margin-bottom: 20px;
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  .link-img {
    width: 100%;
    margin-right: 0;
    float: none;
  }
}
.footer-call{
  padding-right: 0;
}
.post-content {
  img{
    max-width: 100%;
    height: auto !important;
  }
}
ul.nav.nav-tabs{
  z-index: 1;
}
ul.nav.nav-tabs li.active a{
  background-color: rgba(0,121,218,0.7) !important;
}
.box-search{
  .tabs-box{
    padding-top: 100px;
    position: relative;
    .tab-content {
      background-color: rgba(255,255,255,0.2) !important;
      padding: 15px;
      .form-control {
        height: 42px;
        border: none;
        border-radius: 0;
      }
      .btn--fixed{
        display: flex;
        justify-content: space-between;
        position: relative;
        &:after{
          content: '';
          position: absolute;
          border-color: #000 transparent transparent transparent;
          border-style: solid;
          border-width: 5px 4px 0 4px;
          right: 7px;
          margin-top: -2px;
          top: 50%;
        }
      }
      .dropdown-menu--fixed{
        border-radius: 0;
        margin-top: 0;
        width: 100%;
        left: 0;
        background-color: rgba(255,255,255,0.2);
        padding: 15px;
        border: 0;
      }
      .button-tour{
        height: 42px;
        border-radius: 0;
        padding: 6px 12px;
        text-transform: none;
        font: 700 16px/20px 'Roboto Condensed', sans-serif;
        background-color: #f37121;
        color: #fff;
        &:hover{
          background-color: #33c2ef;
        }
      }
    }
  }
}
//.why-us {
//  background: #f1f1f1;
//  padding: 30px 0px 0;
//  &--title {
//    text-align: center;
//    color: #1295ff;
//    font: 400 25px/normal 'Uhk-Face', sans-serif;
//    text-transform: uppercase;
//    margin-bottom: 50px;
//  }
//  &--row {
//    display: flex;
//    flex-wrap: wrap;
//  }
//}
@media (min-width: 992px) {
  .box-search{
    .container {
      width: 870px !important;
      max-width: 100%;
    }
  }
}
.lst-items {
  a.img{
    height: auto;
    padding-bottom: 65%;
    img{
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .tour--price {
    display: flex;
    justify-content: space-between;
  }
}
.post-content {
  .book-woo {
    position: relative;
  }
}
.services-info {
  .services-info__title {
    font-family: Uhk-Face;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .services-info__payment {
    display: flex;
  }
  .services-info__box {
    .box-radio-method {
      flex: 1;
      .radio-method{
        display: none;
      }
      .mar-radio-method {
        margin: 0 10px 0 0;
        width: calc(100% - 10px);
        border-radius: 4px;
        line-height: 40px;
        color: #000;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        background: #bfe2bf;
        cursor: pointer;
        > i{
          display: none;
          float: right;
          padding-right: 16px;
          line-height: 40px;
        }
      }
      input[type="radio"]:checked {
        + .mar-radio-method {
          background: #5cb85c;
          color: #fff;
          > i{
            display: block;
          }
        }
      }

    }
    label{
      font-size: 16px;
    }
    .form-control {
      border: 1px solid #7cc5ff;
    }
  }
  .services-info__btn {
    .checkout-btn {
      background: #1295ff;
      border-radius: 3px;
      text-transform: uppercase;
      font-size: 14px;
      padding: 12px 20px;
      font: 700 15px/18px UtmAvo,sans-serif;
      display: inline-flex;
      color: #fff;
      margin-top: 30px;
      margin-bottom: 15px;
    }
    .checkout-btn:hover {
      background: #12991f !important;
      text-decoration: none;
    }
  }
}
.booking-info {
  h3 {
    a:visited, a {
      font: 400 18px/20px 'Roboto Condensed',sans-serif;
      color: #1295ff;
      text-transform: uppercase;
      display: flex;
      margin-bottom: 5px;
    }
  }
  .txt-blk {
    p {
      .fa{
        color: #1295ff;
      }
    }
    .book-total,.book-total__payment{
      color: #eb7629;
      font-weight: 500;
      font-size: 22px;
    }
    .book-payment__total{
      border-top: 2px solid #ccc;
      margin-top: 5px;
      padding-top: 10px;
      h3{
        font-size: 18px;
        margin-bottom: 5px;
      }
      p{
        margin-bottom: 0;
      }
    }
  }
}
.sidebar {
  .info-nws {
    .row{
      display: flex;
      flex-wrap: wrap;
    }
  }
}
.hs-modal{
  .modal-title{
    font: 400 23px/normal 'Uhk-Face', sans-serif;
    color: #1295ff;
  }
  .modal-img{
    margin-bottom: 15px;
  }
  .modal-body {
    .form-control{
      border: 1.8px solid #359AFB;
      border-radius: 0;
      box-shadow: none;
      margin-bottom: 11px;
      color: #12942A;
      font-size: 14px;
      font-family: Roboto;
    }
  }
  .modal-btn{
    border-radius: 50px;
    padding: 7px 30px;
  }
  .checkbox-register__label{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .checkbox-register__terms{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkbox-register__checkmark{
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    background-color: #359AFB;
  }
  .checkbox-register__checkmark::after{
    left: 9px;
    top: 5px;
    width: 10px;
    height: 15px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    position: absolute;
    display: none;
  }
  .checkbox-register__label input:checked~.checkbox-register__checkmark:after{
    display: block;
  }
}
.cat-tour{
  padding-top: 40px;
  padding-bottom: 15px;
  .owl-carousel {
    .owl-item {
      .item {
        display: block;
        overflow: hidden;
        position: relative;
        &::before {
          content: '';
          padding-bottom: 30%;
          display: block;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .cat-tour {
    padding-top: 15px;
    margin-bottom: 0;
    .owl-carousel {
      .owl-item {
        .item{
          &::before{
            padding-bottom: 17%;
          }
        }
      }
    }
  }
}
.slider-tour{
  margin-bottom: 0;
  .imageGallery{
    height: 412px !important;
    .active{
      img{
        width: 100% !important;
        display: block;
        height: 100%;
      }
    }
  }
  &--img{
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
.lSSlideOuter .lSGallery li, .lSSlideOuter .lightSlider>*{
  height: 100%;
}
.social-box{
  margin-left: 10px;
}
.tour__grid-container{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  .grid__col-1{
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (max-width: 991px) {
  .tour__grid-container{
    grid-template-columns: 100%;
    .grid__col-1 {
      grid-column-end: 2;
    }
  }
  .box-search{
    .container {
      .tabs-box {
        top: 15px;
        left: 0;
        right: 0;
        padding-right: 0;
        .tab-content {
          .dropdown-menu--fixed {
            width: 100%;
          }
        }
      }
    }
  }
  .why-us {
    &--choose {
      margin-bottom: 25px;
    }
  }
}
.tour-container {
  .hk-block {
    margin-top: 70px;
    margin-bottom: 50px;
    .hk-title {
      margin-bottom: $mb-15;
    }
    .lst-items {
      ul {
        li {
          margin-bottom: 0;
        }
      }
    }
    button{
      display: none;
    }
  }
}
.hk-title-box{
  position: relative;
  .tour-order{
    position: absolute;
    right: 0;
    bottom: 10px;
    padding: 6px 12px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .tour-container {
    .hk-block {
      margin-top: 35px;
      margin-bottom: 25px;
    }
  }
  .hk-title-box{
    .tour-order{
      position: relative;
      bottom: 0;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
    }
  }
}
.tour {
  &__title {
    font: 400 20px/normal Uhk-Face,sans-serif;
    color: #222;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 8px;
  }
  &__code {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  &__description {
    padding: 15px;
    background-color: #f1f1f1;
    .tour__box {
      margin-bottom: 15px;
      border-bottom: 1px dotted #ccc;
      padding-bottom: 15px;
    }
    &-star {
      span {
        color: #fdcb0c;
        font-size: 20px;
        margin-right: 10px;
      }
    }
    &-price{
      .price{
        color: #e00;
        text-transform: uppercase;
        font-weight: 600!important;
        font: 400 24px/20px Roboto,sans-serif;
      }
    }
  }
}
.fs16{
  font-size: 16px;
}
.mb10{
  @extend .mb-10;
}
.lst-items {
  ul {
    li {
      width: 25%;
    }
  }
}
@media (max-width: 1199px) {
  .loai-tour {
    .owl-nav {
      top: 32%;
      margin-top: 0;
    }
  }
  .lst-items {
    ul {
      li {
        width: 33.33%;
      }
    }
  }
  .tour__description{
    &-price{
      .price{
        font-size: 20px;
      }
    }
  }
}
.tour__content{
  .post-content{
    padding-right: 15px;
    position: relative;
  }
}
.comment__items{
  background-color: #fdfdfd;
  padding-bottom: 30px;
  h4 {
    font-size: 18px;
    margin: 10px;
  }
  .row::after {
    content: '';
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    border-bottom: 1px solid #b7b7b7;
  }
  p {
    width: 93%;
    margin: 0 auto !important;
  }
}
.comment__title{
  border-bottom: 1px dashed #ccc;
  margin-bottom: 20px;
  padding-bottom: 10px;
  color: #1295ff;
  font-weight: 500;
}
.comment__frm{
  &-control{
    border: 1px solid #7cc5ff;
    font-family: Roboto;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
  }
  &-btn{
    padding: 8px 25px;
    border-radius: 3px;
    background-color: #2d9bf3;
    border: 0;
    color: #fff;
  }
}
@media (max-width: 991px){
  .mb-m-15 {
    margin-bottom: 15px;
  }
  li.more-menu{
    width: auto;
    a{
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }
  .rslides_tabs{
    bottom: auto;
    margin-top: 7px;
  }
  .slider-cat{
    margin-bottom: 0;
  }
  .left-single{
    margin-bottom: 10px;
    h3{
      margin-top: 5px;
      margin-bottom: 10px;
    }
    ul{
      display: flex;
      flex-wrap: wrap;
      li{
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 5px;
        padding-right: 5px;
        .img{
          position: relative;
          display: block;
          overflow: hidden;
          padding-bottom: 70%;
          img{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
          }
        }
      }
    }
  }
  input#author, input#email{
    width: 100%;
  }
  .single-page {
    .tab-content {
      border: 0;
    }
  }
  .footer-bot {
    display: none;
  }
  .tab-content{
    .form-control{
      margin-bottom: 0;
    }
  }
}
@media (max-width: 767px) {
  .lst-items {
    ul {
      li {
        width: 50%;
      }
    }
  }
  .woocommerce {
    table.shop_table{
      width: 767px !important;
    }
  }
  .banner{
    margin-bottom: 15px;
  }
  .box-search .tabs-box .tab-content .dropdown-menu--fixed {
    top: 76%;
  }
  .tab-content--m {
    padding: 15px;
    background-color: #1295ff !important;
    box-shadow: 0 2px 3px rgba(0, 121, 218, 0.7);
  }
}
@media (max-width: 478px) {
  .lst-items {
    ul {
      li {
        width: 100%;
      }
    }
  }
}
@media (min-width: 992px){
  .pr15{
    padding-right: 0;
  }
}
.shcedule__intro {
  margin-bottom: 25px;
}
.schedule {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  &__day {
    flex: 0 0 15%;
    max-width: 15%;
    font-size: 20px;
    font-weight: bold;
    color: #e00;
  }
  &__desc {
    position: relative;
    flex: 0 0 70%;
    max-width: 70%;
    padding-bottom: 5px;
    &_border {
      position: absolute;
      content: '';
      top: 0;
      bottom: 0;
      width: 3px;
      background-color: #ccc;
      left: -10%;
      &::after {
        content: "";
        background: #1295ff;
        border: 3px solid #ff5722;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        margin-top: -9px;
        left: -9px;
        width: 20px;
        height: 20px;
      }
    }
    &_title {
      color: #1295ff;
      font-weight: 500;
      border-bottom: 1px dashed #ccc;
      padding-bottom: 5px;
      margin-bottom: 10px;
      font-size: 20px;
    }
    &_content {
      max-height: 75px;
      overflow: hidden;
      position: relative;
      &::after {
        content: '';
        background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.8) 35%, #fff 100%);
        background-image: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0.8) 35%, #fff 100%);
        height: 10px;
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
      }
    }
  }
  &-btn {
    color: #ac0404;
    font-weight: 500;
    &:hover {
      color: #ac0404;
    }
    &:focus {
      outline: 0 !important;
    }
  }
}
@media (max-width: 575px) {
  .schedule {
    flex-wrap: wrap;
    &__day {
      flex: 0 0 100%;
      max-width: 100%;
    }
    &__desc {
      flex: 0 0 100%;
      max-width: 100%;
      margin-left: 0;
      &-border {
        display: none;
      }
    }
  }
  .hk-title {
    margin-bottom: 15px;
    h2 {
      font-size: 20px;
    }
  }
  .hk-block {
    button {
      top: -50px;
    }
  }
  .lst-items ul li{
    width: 100%;
  }
  .slider-tour {
    .imageGallery {
      height: 300px !important;
    }
  }
}
/*Custom select2*/
.tour-select {
  .select2 {
    width: 100% !important;
  }
  .select2-container {
    .select2-selection--single {
      height: 42px;
      border: none;
    }
  }
  .select2-container--default {
    .select2-selection--single {
      border-radius: 0;
      .select2-selection__rendered {
        font: 400 14px/42px 'Roboto Condensed', sans-serif;
        color: #000;
        padding-left: 15px;
      }
      .select2-selection__arrow {
        height: 40px;
        b {
          border-color: #000 transparent transparent transparent;
        }
      }
    }
  }
}
.tour-select--cat {
  .select2-container {
    .select2-selection--single {
      height: 34px;
      border: none;
    }
  }
  .select2-container--default {
    .select2-selection--single {
      .select2-selection__rendered {
        font: 400 14px/34px 'Roboto Condensed', sans-serif;
        color: #000;
        padding-left: 15px;
      }
      .select2-selection__arrow {
        height: 32px;
      }
    }
  }
}
.home {
  .select2-results__option {
    font: 400 14px/20px 'Roboto Condensed', sans-serif;
    padding-left: 12px;
  }
  .select2-dropdown {
    border: none;
  }
}
.gallery__grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 30px;
  &-fancybox {
    position: relative;
    display: block;
    overflow: hidden;
    &::before {
      content: '';
      display: block;
      padding-bottom: 70%;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: cover;
    }
  }
}
@media (max-width: 991px){
  .gallery__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 767px){
  .gallery__grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 575px) {
  .gallery__grid {
    grid-template-columns: 1fr;
  }
}
.animate {
  img {
    -webkit-transition: all ease-in 0.2s;
    -moz-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
  }
  .fa {
    position: absolute;
    top: 40%;
    left: 40%;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all ease-in 0.2s;
    -moz-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
    background: rgba(106,103,98,0.55);
    z-index: 2;
  }
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(106,103,98,0.55);
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all ease-in 0.2s;
    -moz-transition: all ease-in 0.2s;
    -o-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
    background: rgba(106,103,98,0.55);
  }
  &:hover {
    img{
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }
    .fa{
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
    &:after{
      opacity: 1;
    }
  }
}
.modal{
  &-download{
    &--info{
      font: 400 16px/22px 'Roboto Conseded', sans-serif;
      margin-bottom: 15px;
    }
    &--form{
      .input-group-right{
        display: table-cell;
        width: 1%;
        white-space: nowrap;
        vertical-align: top;
        .btn-download{
          color: #fff;
          background-color: #f37121;
          border-color: #f37121;
          border-radius: 0;
          border-width: 2px;
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }
    }
    .form-control {
      border-color: #f37121 !important;
      height: 40px;
    }
  }
}
