.flex-container{
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 576px){
  .item-col-sm-2{
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px){
  .item-col-lg-3{
    flex: 0 0 25%;
    max-width: 25%;
  }
}
@media (max-width: 576px){
  .item-col-1{
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.item-thumb{
  position: relative;
  display: block;
  overflow: hidden;
  padding-bottom: 75%;
  @include css3-animation(transition, all 300ms ease);
  &-image{
    @include css-position(absolute,0,'','',0);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &:hover{
    &:before{
      content: '';
      @include css-position(absolute,0,0,0,0);
      background-color: rgba(0,0,0,0.5);
      z-index: 1;
    }
  }
}
.item-icon{
  display: block;
  position: relative;
  &-search{
    @include css-position(absolute,'',0,0,'');
    @include css-bordered(40px, solid, transparent);
    @include css3-animation(transform, translate(80px, 80px));
    @include css3-animation(transition, all 200ms ease 200ms);
    border-right-color: $color-bg-icon;
    border-bottom-color: $color-bg-icon;
    opacity: 0;
    z-index: 2;
    &:before{
      @include css-position(absolute,'',-28px,-27px,'');
      content: "\f002";
      font-size: 22px;
      color: #fff;
    }
  }
  &:hover{
    .item-icon-search{
      @include css3-animation(transform, translate(0, 0));
      opacity: 1;
    }
  }
}
.all-right{
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: #000;
  color: #fff;
  font: 300 20px/20px 'Roboto';
  span{
    color: $color-text-orange;
  }
}