$path-image: '../images/front/';
$path-fonts: '../fonts/';
$color-gray: #555252;
$color-orange: #f37121;
$color-white: #fff;
$color-light-gray: #e9f0fd;
/*
* Color text
*/
$color-text-title: $color-gray;
$color-text-gray: $color-gray;
$color-text-orange: $color-orange;
/*
* Color Background
*/
$color-bg-icon: $color-orange;
$color-bg-btn: $color-orange;
$color-bg-partner: $color-light-gray;
$color-bg-after: $color-orange;
/*
* Color Border
*/
$color-border-item: $color-orange;
/*Margin size*/
$size0: 0;
$size5: 5;
$size10: 10;
$size15: 15;
$size20: 20;
$size30: 30;
$mb-15: 15px;
$mb-30: 30px;
